<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Ventas</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <table-base
          :ndata="sortedOrders"
          :columns="columnsOrders"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import TableBase from '@/components/utils/TableBase'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { ALL_ORDERS_PERSON_BUY } from '../../@core/graphql/querys/server'
import { computed, watchEffect } from '@vue/composition-api'
export default {
  components: {
    TableBase
  },
  data () {
    return {
      columnsOrders: [
        {
          name: 'id',
          required: true,
          label: 'Orden Numero',
          align: 'left',
          field: row => '#' + row.id,
          sortable: false
        },
        {
          name: 'buyer',
          required: true,
          label: 'Comprador',
          align: 'left',
          field: row => row.buy.person.name + ' ' + row.buy.person.lastnameOne + ' ' + row.buy.person.lastnameTwo,
          sortable: false
        },
        {
          name: 'product',
          required: true,
          label: 'Producto',
          align: 'left',
          field: row => row.sale.product.name,
          sortable: false
        },
        {
          name: 'quantity',
          required: true,
          label: 'Cantidad',
          align: 'left',
          field: row => row.quantity,
          sortable: false
        },
        {
          name: 'total',
          required: true,
          label: 'Total',
          align: 'left',
          field: row => (Math.round(row.price * 100) / 100).toFixed(2),
          sortable: false
        },
        {
          name: 'status',
          required: true,
          label: 'Estado',
          align: 'left',
          field: row => row.status ? 'Aceptado' : 'Rechazado',
          sortable: false
        },
        {
          name: 'process',
          required: true,
          label: 'Proceso',
          align: 'left',
          field: row => row.process,
          sortable: false
        }
      ]
    }
  },
  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)
    const { user } = data.value

    const ordersObj = useQuery(ALL_ORDERS_PERSON_BUY, {
      person: user.person.id
    })
    const orders = useResult(ordersObj.result, [])
    const sortedOrders = computed(() => orders.value.sort((a, b) => {
      return (b.id - a.id)
    }))

    watchEffect(() => {
      console.log(sortedOrders)
    })

    return {
      sortedOrders
    }
  }
}
</script>

<style scoped>

</style>
