<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Personas</div>
      </q-card-section>

      <q-card-section
        v-if="sortedFriends.length >= 1"
        class="q-pt-none row"
      >
        <q-list
          v-for="person in sortedFriends"
          :key="person.id"
          separator
          bordered
          v-bind="person"
          class="col-12 col-md-4 q-pa-md"
        >

          <q-item>
            <q-item-section avatar>
              <perfil-photo
                :person="person"
                sizze="45px"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ person.fullname }}</q-item-label>
              <q-item-label caption>cel. {{ person.mobile }}</q-item-label>
              <q-item-label caption>email. {{ person.email }}</q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-btn
                round
                :color="!person.status ? 'positive' : 'red'"
                :icon="!person.status ? 'person_add' : 'person_remove'"
                @click="person.status? deleteFriend(person) :addFriend(person)"
              />
            </q-item-section>
          </q-item>

        </q-list>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import PerfilPhoto from 'src/components/utils/PerfilFoto.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { computed, onMounted } from '@vue/composition-api'

import { SocialService } from '@core/modules/social'
import { CLIENT_PERSONS } from '../../@core/graphql/querys/client/friend.query'

import { notifyUtils } from '@core/modules/utils'

const _socialService = new SocialService()

export default {
  components: {
    PerfilPhoto
  },
  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)

    const friendsObj = useQuery(CLIENT_PERSONS)
    const friends = useResult(friendsObj.result, [])

    async function addFriend (person) {
      try {
        await _socialService.addFriends(data.value.user.username, person)
        notifyUtils.success('Usuario añadido como amigo axitosamente!')
      } catch (error) {
        notifyUtils.error('Error al agregar a usuario a su circulo social')
      }
    }

    async function deleteFriend (person) {
      try {
        await _socialService.deleteFriends(data.value.user.username, person)
        notifyUtils.success('Amigo eliminado axitosamente!')
      } catch (error) {
        notifyUtils.error('Error al eliminar a usuario a su circulo social')
      }
    }

    const sortedFriends = computed(() => {
      const newArray = []
      friends.value.map(friend => {
        if (friend.person === 0 && friend.documentNumber === '') {
        } else {
          if (friend.photo === null) friend.photo = friend.fullname.charAt(0).toUpperCase()
          newArray.push(friend)
        }
      })
      return newArray
    })

    async function getPersons () {
      try {
        await _socialService.getPersons(data.value.user.username)
      } catch (error) {
      }
    }

    onMounted(() => {
      getPersons()
    })

    return {
      sortedFriends,
      addFriend,
      deleteFriend,
      data
    }
  }
}
</script>

<style scoped>

</style>
