<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Compras</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <table-base
          :ndata="sortedBuys"
          :columns="columnsBuys"
          @row-click="buyClick"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import TableBase from '@/components/utils/TableBase'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { ALL_BUYS_PERSON } from '../../@core/graphql/querys/server'
import { computed } from '@vue/composition-api'
export default {
  components: {
    TableBase
  },
  data () {
    return {
      columnsBuys: [
        {
          name: 'id',
          required: true,
          label: 'Compra numero',
          align: 'left',
          field: row => '#' + row.id,
          sortable: false
        },
        {
          name: 'total',
          required: true,
          label: 'Total',
          align: 'left',
          field: row => row.payment.total,
          sortable: false
        },
        {
          name: 'status',
          required: true,
          label: 'Estado',
          align: 'left',
          field: row => row.status ? 'Aceptado' : 'Rechazado',
          sortable: false
        }
      ]
    }
  },
  setup (_, { root }) {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)
    const { user } = data.value

    const buysObj = useQuery(ALL_BUYS_PERSON, {
      person: user.person.id
    })
    const buys = useResult(buysObj.result, [])

    const sortedBuys = computed(() => buys.value.sort((a, b) => {
      return (b.id - a.id)
    }))

    function buyClick (buy) {
      root.$router.push('/compras/' + buy.id)
    }

    return {
      sortedBuys,
      buyClick
    }
  }
}
</script>

<style scoped>

</style>
