<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Detalle de compra</div>
      </q-card-section>
      <q-card-section>
        <pdf
          ref="myPdfComponent"
          :src="pdf"
        />
      </q-card-section>
      <q-card-section class="row justify-end">
        <q-btn
          color="primary"
          class="q-mt-md"
          icon="picture_as_pdf"
          label="Descargar PDF"
          @click="onClick"
        />
      </q-card-section>
    </q-card>

  </div>
</template>

<script>
import { onMounted, ref } from '@vue/composition-api'
import pdf from 'vue-pdf'
import axios from 'axios'

export default {
  components: {
    pdf
  },
  data () {
    return {
    }
  },
  setup (_, { root }) {
    const pdf = ref(null)

    function startPDF () {
      const id = root.$route.params.id
      pdf.value = process.env.API_REST_URL + 'buy/detail/N-000-' + id + '.pdf'
    }

    function onClick () {
      const id = root.$route.params.id
      axios({
        url: pdf.value,
        method: 'GET',
        responseType: 'blob'
      }).then((response) => {
        const fileURL = window.URL.createObjectURL(new Blob([response.data]))
        const fileLink = document.createElement('a')

        fileLink.href = fileURL
        fileLink.setAttribute('download', 'compra-#-000-' + id + '.pdf')
        document.body.appendChild(fileLink)

        fileLink.click()
      })
    }

    onMounted(() => {
      startPDF()
    })
    return {
      pdf,
      onClick
    }
  }
}
</script>

<style scoped>

</style>
