<template>
  <div
    class="q-pa-md"
    style="max-width: 350px"
  >
    <q-list>
      <!-- caption="5 mensajes no leidos" -->
      <!-- icon="mail" -->
      <!-- :label="person.fullname" -->
      <q-expansion-item
        popup
        :header-style="{ backgroundColor: '#ffff' }"
        @show="getChats"
      >
        <template v-slot:header>
          <q-item-section avatar>
            <q-avatar
              v-if="person.photo.length === 1"
              color="primary"
              text-color="white"
            >
              {{ person.photo }}
            </q-avatar>
          </q-item-section>

          <q-item-section>
            {{ person.fullname }}
          </q-item-section>
        </template>
        <q-separator />

        <q-card>
          <q-card-section class="q-pt-none q-pr-none">
            <card-chat />
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
  </div>
</template>

<script>
import CardChat from 'src/components/chat/CardChat.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_NEW_CHAT_PERSON } from '../../@core/graphql/querys/client'
import { SocialService } from '@core/modules/social'

const _socialService = new SocialService()

export default {
  components: {
    CardChat
  },
  setup () {
    const personObj = useQuery(CLIENT_NEW_CHAT_PERSON)
    const person = useResult(personObj.result)

    async function getChats () {
      await _socialService.getAllChatsChannel(person.value.channel)
    }

    return {
      person,
      getChats
    }
  }
}
</script>

<style scoped lang="sass">

</style>
