<template>
  <div class=" row justify-center">
    <div style="width: 100%; max-width: 300px">
      <q-scroll-area
        ref="chatScroll"
        :thumb-style="thumbStyle"
        :bar-style="barStyle"
        style="height: 250px; max-width: 300px;"
        @scroll="updateScroll"
      >
        <div
          v-for="message in messages"
          :key="message.id"
          v-bind="message"
          class="q-pr-md"
        >
          <q-chat-message
            :name="message.name"
            :text="[message.text]"
            stamp="4 minutes ago"
            :text-color="message.colortxt"
            :sent="message.sent"
            :bg-color="message.colorbox"
          >
            <template v-slot:avatar>
              <q-avatar
                v-if="message.avatar.length === 1"
                size="lg"
                color="primary"
                text-color="white"
              >
                {{ message.avatar }}
              </q-avatar>
            </template>
          </q-chat-message>
        </div>
      </q-scroll-area>

      <q-form
        class="q-gutter-md"
        @submit="onsubmit"
      >
        <q-input
          v-model="text"
          outlined
          dense
          label="Envia mensaje"
        >
          <template v-slot:after>
            <q-btn
              round
              dense
              flat
              push
              icon="send"
              type="submit"
              @click="onsubmit"
            />
          </template>
        </q-input>
      </q-form>
    </div>
  </div>
</template>

<script>
import { ref, computed, reactive } from '@vue/composition-api'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { CLIENT_NEW_CHAT_PERSON, CLIENT_MESSAGES } from '../../@core/graphql/querys/client'
import { CHAT_SUBSCRIPTION } from '../../@core/graphql/subscriptions'
import { SocialService } from '@core/modules/social'

const _socialService = new SocialService()

export default {
  data () {
    return {
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      },

      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2
      }
    }
  },
  setup () {
    const userObj = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(userObj.result)

    const friendchatObj = useQuery(CLIENT_NEW_CHAT_PERSON)
    const friendchat = useResult(friendchatObj.result)

    const { result, subscribeToMore } = useQuery(CLIENT_MESSAGES)
    const messageschat = useResult(result, [])

    const chatScroll = ref(null)

    function scroll () {
      const scrollArea = chatScroll.value
      if (scrollArea !== null) {
        const scrollTarget = scrollArea.getScrollTarget()
        const duration = 0 // ms - use 0 to instant scroll
        scrollArea.setScrollPosition(scrollTarget.scrollHeight, duration)
      }
    }

    function updateScroll () {
      scroll()
    }

    let messages = reactive([])

    messages = computed(() => {
      const newArrayMessages = []
      messageschat.value.map(element => {
        const friendname = friendchat.value.fullname.split(' ')
        const newMessage = {
          id: element.id,
          name: element.from === data.value.user.username ? data.value.user.person.name : friendname[0],
          text: element.message,
          colorbox: element.from === data.value.user.username ? 'teal-1' : 'light-blue-1',
          colortxt: element.from === data.value.user.username ? 'dark' : 'dark',
          sent: element.from === data.value.user.username,
          avatar: element.from === data.value.user.username ? data.value.user.person.name.charAt(0).toUpperCase() : friendchat.value.photo
        }
        newArrayMessages.push(newMessage)
      })
      return newArrayMessages
    })

    subscribeToMore(() => ({
      document: CHAT_SUBSCRIPTION,
      variables: { channel: friendchat.value.channel },
      updateQuery: (previousResult, { subscriptionData }) => {
        previousResult.messages.push(subscriptionData.data.chatSubs)
        return previousResult
      }
    }))

    const text = ref('')

    async function onsubmit () {
      if (text.value.length > 1) {
        const messagesend = {
          channel: friendchat.value.channel,
          from: data.value.user.username,
          to: friendchat.value.username,
          message: text.value
        }
        try {
          await _socialService.sendMessage(messagesend)
          text.value = ''
        } catch (error) {

        }
      }
    }

    return {
      data,
      messages,
      text,
      onsubmit,
      chatScroll,
      updateScroll
    }
  }

}
</script>

<style scoped>

</style>
