<template>
  <div>
    <q-page-sticky
      position="bottom-right"
      :offset="[25, 0]"
    >
      <button-chat />
    </q-page-sticky>
  </div>
</template>

<script>
import ButtonChat from 'src/components/chat/ButtonChat.vue'

export default {
  components: {
    ButtonChat
  }
}
</script>

<style scoped>

</style>
