<template>
  <div>
    <div
      v-for="friend in sortedFriends"
      :key="friend.id"
      v-bind="friend"
    >
      <q-item
        clickable
        @click="startChat(friend)"
      >
        <q-item-section avatar>
          <q-avatar
            v-if="friend.photo.length === 1"
            color="primary"
            text-color="white"
          >
            {{ friend.photo }}
          </q-avatar>
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ friend.fullname }}</q-item-label>
        </q-item-section>
      </q-item>
    </div>

  </div>
</template>

<script>
import { computed } from '@vue/composition-api'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_FRIENDS } from '../../@core/graphql/querys/client'
import { SocialService } from '@core/modules/social'
import { PERSON_SUBSCRIPTION } from '../../@core/graphql/subscriptions'

const _socialService = new SocialService()

export default {
  setup (props, { emit }) {
    const friendsObj = useQuery(CLIENT_FRIENDS)
    const friends = useResult(friendsObj.result)

    const sortedFriends = computed(() => {
      const newArray = []
      friends.value.map(friend => {
        if (friend.person === 0 && friend.documentNumber === '') {
        } else {
          if (friend.photo === null) friend.photo = friend.fullname.charAt(0).toUpperCase()
          newArray.push(friend)
        }
      })
      return newArray
    })

    function indexObj (arr, data) {
      return arr.findIndex(x => x.id === data.person)
    }

    friendsObj.subscribeToMore(() => ({
      document: PERSON_SUBSCRIPTION,
      updateQuery: (previousResult, { subscriptionData }) => {
        const nperson = {
          person: subscriptionData.data.personSubs.person.id,
          documentNumber: subscriptionData.data.personSubs.person.documentNumber,
          photo: subscriptionData.data.personSubs.photo,
          fullname: subscriptionData.data.personSubs.person.name + ' ' + subscriptionData.data.personSubs.person.lastnameOne + ' ' + subscriptionData.data.personSubs.person.lastnameTwo,
          mobile: subscriptionData.data.personSubs.person.mobile,
          email: subscriptionData.data.personSubs.person.email,
          username: subscriptionData.data.personSubs.person.user.username,
          status: subscriptionData.data.personSubs.person.user.status
        }
        switch (subscriptionData.data.personSubs.action) {
          case process.env.CREATE: {
            previousResult.friends.push(nperson)
            break
          }
          case process.env.UPDATE: {
            const indexUpdate = indexObj(previousResult.friends, nperson)
            previousResult.friends.splice(indexUpdate, 1)
            previousResult.friends.push(nperson)
            break
          }
          case process.env.DELETE: {
            const indexDelete = indexObj(previousResult.friends, nperson)
            previousResult.friends.splice(indexDelete, 1)
            break
          }
          default:
            break
        }
      }
    }))

    function startChat (person) {
      _socialService.startChat(person)
      emit('start-new-chat', person)
    }

    return {
      sortedFriends,
      startChat
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
