<template>
  <div>
    <report-one-card />
  </div>
</template>

<script>
import ReportOneCard from '@/components/report/ReportOneCard.vue'
export default {
  components: {
    ReportOneCard
  },
  setup () {
    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>
