<template>
  <div>
    <q-card
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Validacion</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        Gracias por verificar tu cuenta ahora ya puedes iniciar sesion!.  <br><br>
        <q-btn
          outline
          color="primary"
          label="Iniciar Session"
          :to="{ name: 'SignIn' }"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { onMounted } from '@vue/composition-api'
import { AuthService } from '@core/modules/auth'
import { notifyUtils } from '@core/modules/utils'

const _authService = new AuthService()

export default {
  setup (_, { root }) {
    async function verified () {
      const token = root.$route.params.token
      try {
        await _authService.userVerified(token)
        notifyUtils.success('Usaurio verificado exitosamente!')
      } catch (error) {
        notifyUtils.error('Ocurrio un error en la verificacion!')
      }
    }

    onMounted(() => {
      verified()
    })

    return {}
  }
}
</script>

<style scoped>
.my-card{
    text-align: center;
}
</style>
