<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Publicar venta</div>
      </q-card-section>

      <q-card-section class="q-pt-none" />

      <q-separator inset />

      <q-card-section>
        <q-form
          class="q-gutter-md"
          @submit="onSubmit"
        >

          <div>
            <q-btn
              color="teal"
              class="full-width"
              :to="{name: 'Area'}"
            >
              <q-icon
                left
                size="3em"
                name="my_location"
              />
              <div>SELECCIONAR AREA DE REPARTO</div>
            </q-btn>
          </div>

          <q-input
            v-if="area"
            outlined
            readonly
            label="Area Seleccionada"
            :value="'Numero: ' + area.id + ' ubicado en ' +area.district.name + ' ' + area.district.province.name + ' '+ area.district.province.region.name"
          />

          <div class="row">
            <div class="col">
              <q-select
                v-model="utils.category"
                outlined
                map-options
                emit-value
                option-value="id"
                option-label="name"
                :options="utils.categorys"
                label="Categoria"
                @input="onSelect"
              />
            </div>
            <div class="col">
              <q-select
                v-model="utils.kind"
                outlined
                map-options
                emit-value
                option-value="id"
                option-label="name"
                :options="utils.kinds"
                label="Tipo"
                @input="onSelect"
              />
            </div>
          </div>

          <q-select
            v-model="utils.product"
            outlined
            map-options
            emit-value
            option-value="id"
            option-label="name"
            :options="utils.products"
            label="Producto"
          />

          <div class="row">
            <div class="col">
              <q-input
                v-model="sale.stock"
                outlined
                label="Stock"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Porfavor ingrese un numero',
                  val => val > 5 && val < 999 || 'Porfavor ingresa un stock valido'
                ]"
              />
            </div>
            <div class="col">
              <q-input
                v-model="sale.weight"
                outlined
                label="Peso"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Porfavor ingrese un numero',
                  val => val > 5 && val < 999 || 'Porfavor ingresa un peso valido'
                ]"
                suffix="kg"
              />
            </div>
            <div class="col">
              <q-input
                v-model="sale.unitPrice"
                outlined
                label="Precio Unitario"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Porfavor ingrese un numero',
                  val => val > 0 && val < 99999 || 'Porfavor ingresa un stock valido'
                ]"
                prefix="S/."
              />
            </div>
          </div>

          <div>
            <q-btn
              type="submit"
              color="primary"
              class="full-width"
              :loading="loading4"
            >
              Publicar
              <template v-slot:loading>
                <q-spinner-hourglass class="on-left" />
                Loading...
              </template>
            </q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
/** apollo */
import { useQuery, useResult } from '@vue/apollo-composable'
/** Import graphql */
import { CLIENT_AREA } from '@core/graphql/querys/client'
/** Import services */
import { ProductService, CategoryService, KindService } from '@core/modules/product'
import { SaleService } from '@core/modules/sale'
import { onMounted, reactive, ref } from '@vue/composition-api'
import { InputSale } from '../../@core/modules/sale'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { notifyUtils } from '../../@core/modules/utils'
import { CLIENT_PRODUCTS } from '../../@core/graphql/querys/client/product.query'
/** Intanciaciones */
const _productService = new ProductService()
const _categoryService = new CategoryService()
const _kindService = new KindService()
const _saleService = new SaleService()

export default {
  setup (_, { root }) {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)
    const { user } = data.value

    const areaRef = useQuery(CLIENT_AREA)
    const area = useResult(areaRef.result)

    const productRef = useQuery(CLIENT_PRODUCTS)
    const products = useResult(productRef.result)

    const loading4 = ref<boolean>(false)

    const utils = reactive({
      category: '',
      categorys: [],
      kind: '',
      kinds: [],
      product: '',
      products: []
    })

    const sale = ref<InputSale>({
      person: user.person.id,
      product: utils.product,
      unitPrice: 0,
      stock: 0,
      area: 0,
      weight: 0,
      observation: ''
    })

    // function getProducts () {}
    async function getProductCategorys () {
      utils.categorys = await _categoryService.getProductCategorys()
    }
    async function getProductKinds () {
      utils.kinds = await _kindService.getProductKinds()
    }

    async function onSubmit () {
      if (area.value === undefined) {
        notifyUtils.error('Es necesario seleccionar un area!')
      } else {
        loading4.value = true
        sale.value.area = area.value.id
        sale.value.product = Number(utils.product)
        try {
          await _saleService.createSale(sale.value)
          setTimeout(function () {
            notifyUtils.success('Su venta se publico exitosamente!')
            root.$router.push({ name: 'Products' })
          }, 3000)
          loading4.value = false
        } catch (error) {
          notifyUtils.error('Ocurrio un error al publicar su venta!')
        }
      }
    }

    async function onSelect () {
      await _productService.getProducts()
      utils.products = products.value.filter(product => {
        if (!utils.kind || !utils.category) {
          return product.kind.id === utils.kind || product.category.id === utils.category
        } else {
          return product.kind.id === utils.kind && product.category.id === utils.category
        }
      })
    }

    onMounted(() => {
      getProductCategorys()
      getProductKinds()
    })

    return {
      onSubmit,
      area,
      utils,
      sale,
      onSelect,
      loading4
    }
  }
}
</script>

<style scoped>

</style>
