<template>
  <div>
    <q-dialog
      v-model="modalOpen"
    >
      <q-card
        style="width: 700px; max-width: 80vw;"
      >
        <q-card-section>
          <div class="text-h6">Previsualizacion del area</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <base-map
            :data="sale"
            :on-drawer="onDrawer"
            :on-geolocate="onGeolocate"
            :on-search="false"
            :on-circle="false"
            class="utp-full-percent-w"
            @ongeolocate="onGeolocateSubmit"
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="bg-white text-teal"
        >
          <q-btn
            v-close-popup
            flat
            label="OK"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import BaseMap from 'src/components/leaflet/BaseMap.vue'

export default {
  components: {
    BaseMap
  },
  props: {
    onDialog: {
      type: Boolean, default: false
    },
    sale: {
      type: Object, default: () => ({})
    },
    onDrawer: {
      type: Boolean, default: false
    },
    onGeolocate: {
      type: Boolean, default: false
    }
  },
  computed: {
    modalOpen: {
      get () {
        return this.onDialog
      },
      set (val) {
        this.$emit('update:onDialog', val)
      }
    }
  },
  methods: {
    onGeolocateSubmit (latlng) {
      const sale = this.$props.sale
      this.$emit('ongeolocatecar', { latlng, sale })
    }
  }
}
</script>

<style scoped>
.utp-full-percent-w{
  height: 50vh;
}
</style>
