<template>
  <div class="q-pa-md">
    <div
      class="row"
    >
      <div
        v-for="sale in sales"
        :key="sale.id"
        v-bind="sale"
        class="col-12 col-md-3 col-sm-4"
      >
        <product-card
          :sale="sale"
          :user="usrObj.user"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from '@vue/composition-api'
import { SaleService } from '@core/modules/sale'

import ProductCard from 'src/components/product/ProductCards.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { CLIENT_SALES } from '../../@core/graphql/querys/client/sale.query'
import { SALES_STOCK_SUBCRIPTION, SALE_SUBSCRIPTION } from '../../@core/graphql/subscriptions'

const _saleService = new SaleService()

export default defineComponent({
  components: {
    ProductCard
  },
  data () {
    return {
      stars: 4,
      alert: false
    }
  },

  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const usrObj = useResult(result)

    const objSales = useQuery(CLIENT_SALES)
    const sales = useResult(objSales.result)

    objSales.subscribeToMore(() => ({
      document: SALES_STOCK_SUBCRIPTION,
      updateQuery: (previousResult, { subscriptionData }) => {
        const index = previousResult.sales.findIndex(x => x.id === subscriptionData.data.salesStockSubs.id)
        previousResult.sales[index].stock = subscriptionData.data.salesStockSubs.stock
      }
    }))

    function indexSale (arr, data) {
      return arr.findIndex(x => x.id === data.id)
    }

    objSales.subscribeToMore(() => ({
      document: SALE_SUBSCRIPTION,
      updateQuery: (previousResult, { subscriptionData }) => {
        if (subscriptionData.data.saleSubs.sale.person.id !== usrObj.value.user.person.id) {
          switch (subscriptionData.data.saleSubs.action) {
            case process.env.CREATE:
              previousResult.sales.push(subscriptionData.data.saleSubs.sale)
              break
            case process.env.UPDATE: {
              const indexUpdate = indexSale(previousResult.sales, subscriptionData.data.saleSubs.sale)
              previousResult.sales.splice(indexUpdate, 1)
              previousResult.sales.push(subscriptionData.data.saleSubs.sale)
              break
            }
            case process.env.DELETE: {
              const indexDelete = indexSale(previousResult.sales, subscriptionData.data.saleSubs.sale)
              previousResult.sales.splice(indexDelete, 1)
              break
            }
            default:
              break
          }
        }
      }
    }))

    async function getSales () {
      try {
        await _saleService.getSales()
      } catch (error) {

      }
    }

    onMounted(() => {
      getSales()
    })

    return {
      usrObj,
      sales
    }
  }
})
</script>

<style scoped></style>
