<template>
  <div>
    <q-dialog
      v-model="modalOpen"
      @show="setProps(sale)"
    >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Editar Mi Publicacion</div>
          <q-space />
          <q-btn
            v-close-popup
            icon="close"
            flat
            round
            dense
          />
        </q-card-section>

        <q-card-section class="utp-margin-top-2">
          <q-form
            ref="areaForm"
            class="q-gutter-md"
            @submit="updateSale(sale.id)"
          >

            <q-input
              v-if="sale.area"
              outlined
              readonly
              label="Area Seleccionada"
              :value="'Numero: ' + sale.area.id + ' ubicado en ' +sale.area.district.name + ' ' + sale.area.district.province.name + ' '+ sale.area.district.province.region.name"
            />

            <div class="row">
              <div class="col">
                <q-select
                  v-model="utils.category"
                  outlined
                  map-options
                  emit-value
                  option-value="id"
                  option-label="name"
                  :options="utils.categorys"
                  label="Categoria"
                  @input="onSelect"
                />
              </div>
              <div class="col">
                <q-select
                  v-model="utils.kind"
                  outlined
                  map-options
                  emit-value
                  option-value="id"
                  option-label="name"
                  :options="utils.kinds"
                  label="Tipo"
                  @input="onSelect"
                />
              </div>
            </div>

            <q-select
              v-model="utils.product"
              outlined
              map-options
              emit-value
              option-value="id"
              option-label="name"
              :options="utils.products"
              label="Producto"
            />

            <div class="row">
              <div class="col">
                <q-input
                  v-model="inputSale.stock"
                  outlined
                  label="Stock"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !== '' || 'Porfavor ingrese un numero',
                    val => val > 1 && val < 999 || 'Porfavor ingresa un stock valido'
                  ]"
                />
              </div>
              <div class="col">
                <q-input
                  v-model="inputSale.weight"
                  outlined
                  label="Peso"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !== '' || 'Porfavor ingrese un numero',
                    val => val > 5 && val < 999 || 'Porfavor ingresa un peso valido'
                  ]"
                  suffix="kg"
                />
              </div>
              <div class="col">
                <q-input
                  v-model="inputSale.unitPrice"
                  outlined
                  label="Precio Unitario"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !== '' || 'Porfavor ingrese un numero',
                    val => val > 0 && val < 99999 || 'Porfavor ingresa un stock valido'
                  ]"
                  prefix="S/."
                />
              </div>
            </div>

            <div>
              <q-btn
                v-close-popup
                label="Editar"
                type="submit"
                color="amber-8"
                class="full-width"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { ref, reactive, onMounted } from '@vue/composition-api'
import { notifyUtils } from '@core/modules/utils'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '@core/graphql/querys/client/session.query'
import { SaleService, InputSale } from '@core/modules/sale'
import { ProductService, CategoryService, KindService } from '@core/modules/product'
import { CLIENT_PRODUCTS } from '../../@core/graphql/querys/client/product.query'

const _productService = new ProductService()
const _saleService = new SaleService()
const _categoryService = new CategoryService()
const _kindService = new KindService()

export default {
  components: {
  },
  props: {
    sale: {
      type: Object,
      default: () => ({
        person: 0,
        product: 0,
        unitPrice: 0,
        stock: 0,
        area: 0,
        observation: ''
      })
    },
    onDialog: {
      type: Boolean, default: false
    }
  },
  computed: {
    modalOpen: {
      get () {
        return this.onDialog
      },
      set (val) {
        this.$emit('update:onDialog', val)
      }
    }
  },
  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)
    const { user } = data.value

    const productRef = useQuery(CLIENT_PRODUCTS)
    const products = useResult(productRef.result)

    const utils = reactive({
      category: '',
      categorys: [],
      kind: '',
      kinds: [],
      product: '',
      products: []
    })

    const inputSale = ref<InputSale>({
      person: user.person.id,
      product: utils.product,
      unitPrice: 0,
      stock: 0,
      area: 0,
      weight: 0
    })

    async function updateSale (id) {
      try {
        const { stock, ...rest } = inputSale.value
        await _saleService.updateSale(id, { stock: Number(stock), ...rest })
        notifyUtils.success('Se ha editado correctamente!')
      } catch (error) {
        notifyUtils.error('Ocurrio un error en la edicion!')
      }
    }

    async function getProductCategorys () {
      utils.categorys = await _categoryService.getProductCategorys()
    }
    async function getProductKinds () {
      utils.kinds = await _kindService.getProductKinds()
    }

    function setProps (properties) {
      inputSale.value.unitPrice = properties.unitPrice
      inputSale.value.stock = properties.stock
      inputSale.value.area = properties.area.id
      inputSale.value.weight = properties.weight
      utils.category = properties.product.category.id
      utils.kind = properties.product.kind.id
      utils.product = properties.product.name
      inputSale.value.product = properties.product.id
    }

    /** GENERIC */
    async function onSelect () {
      await _productService.getProducts()
      utils.products = products.value.filter(product => {
        if (!utils.kind || !utils.category) {
          return product.kind.id === utils.kind || product.category.id === utils.category
        } else {
          return product.kind.id === utils.kind && product.category.id === utils.category
        }
      })
    }

    onMounted(() => {
      getProductCategorys()
      getProductKinds()
    })

    return {
      updateSale,
      setProps,
      inputSale,
      onSelect,
      utils
    }
  }
}
</script>

<style scoped>
</style>
