<template>
  <div class="map-container">
    <l-map
      :center="map.latLng"
      :zoom="map.zoom"
      :max-zoom="18"
      :min-zoom="6"
      :max-bounds="maxBounds"
      @ready="onReadyLMap"
      @locationfound="onLocationFound"
    >
      <l-tile-layer :url="tileLayer.url" />
      <l-draw
        v-if="onDrawer"
        :on-circle="onCircle"
        @add-polygon="launchAddPolygonDialog"
      />
      <locate-control
        v-if="onGeolocate"
        :options="{icon: 'fa fa-crosshairs'}"
      />
      <geo-search-control
        v-if="onSearch"
        :options="geosearchOptions"
      />
      <l-layer-group @ready="onReadyProjectLayers" />

      <div
        v-for="area in areas"
        :key="`A-${area.id}`"
        v-bind="area"
      >
        <l-circle
          :lat-lng="[area.latitud, area.longitud]"
          :radius="area.radius"
        />
      </div>

      <div
        v-for="order in orders"
        :key="`O-${order.id}`"
        v-bind="order"
      >
        <l-marker
          :lat-lng="[order.latitud, order.longitud]"
          @add="$nextTick(() => $event.target.openPopup())"
        >
          <l-popup>
            <q-item
              v-ripple
              clickable
            >
              <q-item-section side>
                <q-avatar
                  rounded
                  size="48px"
                >
                  <img src="https://cdn.quasar.dev/img/avatar.png">
                  <q-badge
                    floating
                    color="positive"
                  >new</q-badge>
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ order.popup.person }}</q-item-label>
                <q-item-label>{{ order.popup.description }}</q-item-label>
                <q-item-label caption>Cantidad: {{ order.popup.quantity }}</q-item-label>
              </q-item-section>
            </q-item>
          </l-popup>
        </l-marker>
      </div>
      <!-- <div>{{ ndata }}</div> -->
    </l-map>
    <area-dialog ref="saleDialogComponent" />
  </div>
</template>

<script>
import { LMap, LTileLayer, LLayerGroup, LCircle, LMarker, LPopup } from 'vue2-leaflet'
import LDraw from 'src/components/leaflet/LDraw.vue'
import LocateControl from 'src/components/leaflet/LocateControl.vue'
import GeoSearchControl from 'src/components/leaflet/GeoSearchControl.vue'
import AreaDialog from 'src/components/area/AreaDialog'
import L from 'leaflet'
import 'leaflet.locatecontrol'
import { OpenStreetMapProvider } from 'leaflet-geosearch'

export default {
  components: {
    LMap,
    LTileLayer,
    LLayerGroup,
    LDraw,
    AreaDialog,
    LocateControl,
    GeoSearchControl,
    LCircle,
    LMarker,
    LPopup
  },
  props: {
    onDrawer: {
      type: Boolean, default: false
    },
    onSearch: {
      type: Boolean, default: true
    },
    onGeolocate: {
      type: Boolean, default: true
    },
    onCircle: {
      type: Boolean, default: true
    },
    data: {
      type: Object, default: () => ({})
    },
    areas: {
      type: Array, default: () => ([])
    },
    orders: {
      type: Array, default: () => ([])
    }
  },
  data () {
    return {
      map: {
        latLng: [-8.5979147, -72.6478015],
        zoom: 6.01
      },
      tileLayer: {
        url: 'https://{s}.tile.osm.org/{z}/{x}/{y}.png'
      },
      layer: {},
      onDialog: false,
      maxBounds: [
        [1.3402098002785028, -65.21484375000001],
        [-18.291949733550325, -82.92480468750001]
      ],
      geosearchOptions: { // Important part Here
        autoComplete: true, // optional: true|false  - default true
        autoClose: true,
        provider: new OpenStreetMapProvider()
        // style: 'bar'
      }
    }
  },
  computed: {
    ndata: function () {
      return this.data
    }
  },
  methods: {
    launchAddPolygonDialog (layer) {
      if (this.$props.onCircle) {
        this.$refs.saleDialogComponent.onClickChild(layer)
      } else {
        this.$emit('ongeolocate', layer._latlng)
      }
      // this.$_dialogDynamicMixin_dialogOpen('addPolygon')
      // this.$refs.dialogDynamic.$setPropertiesToChild(layer)
    },
    /**
     * getting map.mapObject reference from <l-map> component
     */
    onReadyLMap (mapObject) {
      this.$L.map = mapObject
    },
    /**
     * assigning layerGroup to projectLayers
     */
    onReadyProjectLayers (mapObject) {
      this.$L.projectLayers = mapObject
      if (this.$props.data.area) {
        this.addProjectLayer()
      }
      // if (this.$props.areas.length > 0) {
      //   this.addAreasLayers()
      // }
      // if (this.$props.orders.length > 0) {
      //   this.addOrdersLayers()
      // }
    },
    /**
     * added layer to projectlayers
     */
    addProjectLayer () {
      const area = this.$props.data.area
      let bounds
      if (area.name === 'CIRCLE') {
        const circle = L.circle([area.latitud, area.longitud], { radius: area.radio })
        circle.bindPopup(this.$props.data.product.name + ' ' + this.$props.data.unitPrice + '.00 S/.').addTo(this.$L.map)
        bounds = circle.getBounds()
      } else if (area.name === 'MARKER') {
        const marker = L.marker([area.latitud, area.longitud])
        marker.bindPopup(this.$props.data.product.name + ' ' + this.$props.data.unitPrice + '.00 S/.').addTo(this.$L.map)
        bounds = marker.getBounds()
      }
      if (area.name !== '') this.$L.map.fitBounds(bounds)
    },
    /**
     * geolocate
     */
    onLocationFound (e) {
      this.$emit('ongeolocate', e.latlng)
    }
  }
}
</script>

<style scoped>
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.map-container {
  width: 100%;
  height: 100%;
}
</style>
