<template>
  <div />
</template>

<script>
import { GeoSearchControl } from 'leaflet-geosearch'
export default {
  name: 'VGeosearch',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    options: {
      required: true
    }
  },

  mounted () {
    this.add()
  },
  beforeDestroy () {
    this.remove()
  },
  methods: {
    deferredMountedTo (parent) {
      const options = this.options
      const searchControl = new GeoSearchControl({
        ...options
      })
      parent.addControl(searchControl)
      searchControl.getContainer().onclick = e => { e.stopPropagation() }
    },
    remove () {
      if (this.markerCluster) {
        this.$parent.removeLayer(this.markerCluster)
      }
    },
    add () {
      if (this.$parent._isMounted) {
        this.deferredMountedTo(this.$parent.mapObject)
      }
    }
  }
}
</script>
<style scoped>
@import 'https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css';
</style>
