<template>
  <div class="row">
    <q-card
      flat
      bordered
      class="my-card col-11 col-sm-6"
    >
      <q-card-section>
        <div class="text-h6">Perfil</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <perfil-photo
          v-if="user.person.photo !== null"
          :person="user.person"
          sizze="100px"
        />
        <br>
        <q-file
          v-model="photo"
          outlined
          dense
          bottom-slots
          label="Label"
          counter
        >
          <template v-slot:prepend>
            <q-icon
              name="insert_photo"
              @click.stop
            />
          </template>
          <template v-slot:append>
            <q-icon
              name="close"
              class="cursor-pointer"
              @click.stop="photo = null"
            />
          </template>

          <template v-slot:hint>
            Subir Foto
          </template>
          <template v-slot:after>
            <q-btn
              round
              dense
              flat
              icon="cloud_upload"
              @click="sendFoto"
            />
          </template>
        </q-file>
      </q-card-section>

      <q-separator inset />

      <q-card-section>
        <q-input
          outlined
          dense
          readonly
          :value="user.username"
          hint="Nombre de usuario"
        />
        <br>
        <q-input
          outlined
          dense
          readonly
          :value="user.person.documentNumber"
          hint="Documento de identidad"
        />
        <br>
        <q-input
          outlined
          dense
          readonly
          :value="user.person.name"
          hint="Nombres"
        />
        <br>
        <q-input
          outlined
          dense
          readonly
          :value="user.person.lastnameOne"
          hint="Primer Apellido"
        />
        <br>
        <q-input
          outlined
          dense
          readonly
          :value="user.person.lastnameTwo"
          hint="Segundo Apellido"
        />
        <!-- <br>
        <q-input
          outlined
          dense
          readonly
          hint="Celular"
        />
        <q-input
          outlined
          dense
          readonly
          hint="Email"
        /> -->
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import PerfilPhoto from 'src/components/utils/PerfilFoto.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { ref, computed } from '@vue/composition-api'

import { notifyUtils } from '@core/modules/utils'
import { PersonService } from '@core/modules/person'

const _personService = new PersonService()

export default {
  components: {
    PerfilPhoto
  },
  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)

    const user = computed(() => {
      return data.value.user
    })

    const photo = ref(null)

    async function sendFoto () {
      try {
        await _personService.sendPhoto(data.value.user.person.id, photo.value)
        notifyUtils.success('Foto agregada exitosamente!')
      } catch (error) {
        notifyUtils.error('Error al cambiar foto de perfil!')
      }
    }

    return {
      user,
      photo,
      sendFoto
    }
  }
}
</script>

<style scoped>
.row{
    width: 100%;
    justify-content: center;
}
.my-card{
    text-align: center;
}
</style>
