<template>
  <q-item
    clickable
    :to="{name: to}"
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label
        caption
      >
        {{ caption }}
      </q-item-label>
      <q-badge
        v-if="badge"
        color="red"
        floating
      >{{ badge }}</q-badge>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    },

    badge: {
      type: Number,
      default: 0
    },

    to: {
      type: String,
      default: ''
    }
  }
}
</script>
