<template>
  <div>
    <product-detail-card />
  </div>
</template>

<script>
import ProductDetailCard from '@/components/product/ProductDetailCard.vue'
export default {
  components: {
    ProductDetailCard
  },
  setup () {
    return {}
  }
}
</script>

<style scoped>

</style>
