<template>
  <div>
    <q-btn
      ref="culqi"
      color="primary"
      label="Pagar"
      :disable="onButton"
      @click="onPayment"
    />
  </div>
</template>

<script lang="ts">
let component

export {}
declare global {
  interface Window {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    culqi: any;
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    Culqi: any;
  }
}

window.culqi = function () {
  if (window.Culqi.token) {
    // eslint-disable-next-line @typescript-eslint/camelcase
    const source_id = window.Culqi.token.id
    const email = window.Culqi.token.email

    // onPayment(token)
    // eslint-disable-next-line @typescript-eslint/camelcase
    component.sendCulqi({ source_id, email })
    // console.log(window.Culqi)
    // console.log('Se ha creado un token:' + token)
  } else {
    console.log(window.Culqi.error)
    console.log(window.Culqi.error.user_message)
  }
}

export default {
  props: {
    amount: {
      type: Number, default: 0
    },
    onDisable: {
      type: Boolean, default: true
    }
  },
  computed: {
    onButton: {
      get () {
        return this.onDisable
      },
      set (val) {
        this.$emit('update:onDisable', val)
      }
    }
  },
  mounted () {
    this.onCulqi()
  },
  methods: {
    onCulqi () {
      window.Culqi.publicKey = 'pk_test_CKBD2k26x8WluUoY'
      window.Culqi.init()
    },
    onPayment () {
      component = this
      const stramount = this.$props.amount.toString()
      window.Culqi.settings({
        title: 'UTP Store',
        currency: 'PEN',
        description: 'Articulos de primera necesidad',
        amount: stramount.replace('.', '')
      })
      window.Culqi.open()
    },
    sendCulqi (obj) {
      const amount = window.Culqi.getSettings.amount
      // eslint-disable-next-line @typescript-eslint/camelcase
      const currency_code = window.Culqi.getSettings.currency
      // eslint-disable-next-line @typescript-eslint/camelcase
      this.$emit('on-payment', { ...obj, amount, currency_code })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
