<template>
  <div>
    <buy-detail-card />
  </div>
</template>

<script>
import BuyDetailCard from '@/components/buy/BuyDetailCard.vue'
export default {
  components: {
    BuyDetailCard
  }
}
</script>

<style scoped>

</style>
