<template>
  <div>
    <!-- utp-width-4 utp-margin-general-2 -->
    <q-card class="my-card utp-margin-general-2">
      <q-img :src="sale.product.category.name === 'Azucar'? '/statics/Images/Azucar.png': '/statics/Images/Arroz.png'" />

      <!-- <q-img
        :src="`/statics/Images/${sale.product.category.name}.png`"
      /> -->

      <q-card-section>
        <div v-if="isLogged">
          <q-btn
            v-if="user.username === sale.person.user.username"
            round
            color="deep-orange"
            icon="delete_forever"
            @click="deleteSale(sale.id)"
          />

          <q-btn
            v-if="user.username === sale.person.user.username"
            round
            color="secondary"
            icon="edit"
            @click="alert = true"
          />
        </div>

        <sale-dialog
          :sale="sale"
          :on-dialog.sync="alert"
        />

        <q-btn
          fab
          color="primary"
          icon="place"
          class="absolute"
          style="top: 0; right: 12px; transform: translateY(-50%);"
          @click="alertMap = true"
        />

        <sale-map-preview
          :sale="sale"
          :on-dialog.sync="alertMap"
        />

        <div class="row no-wrap items-center">
          <div class="col text-h6 ellipsis">{{ sale.product.name }}</div>
          <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
            <!-- Distancia -->
            <q-icon name="room_service" /> {{ sale.weight }} Kg
          </div>
        </div>

        <!-- <q-rating
          v-model="stars"
          :max="5"
          size="32px"
        /> -->
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="text-subtitle1">Stock :
          <q-badge
            :color="sale.stock < 6 ? 'red' : 'green'"
            align="middle"
            class="text-body2"
          >
            <div v-if="sale.stock < 6">
              Agotandose &ensp;
            </div>
            <div v-else>
              Disponible &ensp;
            </div>
            {{ sale.stock }} <q-icon
              :name="sale.stock < 6 ? 'warning' : 'done'"
              color="white"
              class="q-ml-xs"
            />
          </q-badge>
        </div>
        <div class="text-subtitle1">Precio unid. : {{ (Math.round(sale.unitPrice * 100) / 100).toFixed(2) }} S/.</div>
        <div class="text-caption text-grey">{{ sale.product.description }}</div>
      </q-card-section>

      <q-separator />

      <q-card-actions>
        <q-btn
          outline
          :disable="sale.stock === 0"
          color="primary"
          class="full-width"
          @click="addToCar(sale)"
        >
          Agregar al carrito
        </q-btn>
        <br><br><br>
        <q-btn
          outline
          class="full-width"
          style="color: #FF0080"
          label="Ver detalles"
          :to="'/publicacion/'+sale.id"
        />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { SaleService } from '@core/modules/sale'
import { notifyUtils } from '@core/modules/utils'
import { ShoppingCarService } from '@core/modules/shopingcar'

import SaleDialog from 'src/components/sale/SaleDialog.vue'
import SaleMapPreview from 'src/components/sale/SaleMapPreview.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'

const _saleService = new SaleService()
const _shoppingCarService = new ShoppingCarService()

export default defineComponent({
  components: {
    SaleDialog,
    SaleMapPreview
  },
  props: {
    sale: {
      type: Object, default: () => ({})
    },
    user: {
      type: Object, default: () => ({})
    }
  },
  data () {
    return {
      stars: 4,
      alert: false,
      alertMap: false
    }
  },

  setup (_, { root }) {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)
    const { isLogged } = data.value

    async function deleteSale (id) {
      try {
        await _saleService.deleteSale(id)
        notifyUtils.success('Se ha eliminado correctamente')
        root.$router.push({ name: 'Products' })
      } catch (error) {
        notifyUtils.error('Ocurrio un error al eliminar')
      }
    }

    function addToCar (sale) {
      _shoppingCarService.addProduct(sale)
    }

    return {
      deleteSale,
      addToCar,
      isLogged
    }
  }
})
</script>

<style scoped></style>
