<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Detalle de producto</div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <div class="col-12 col-sm-4 content-utp-img">
            <q-img
              :src="sale.product.category.name === 'Azucar'? '/statics/Images/Azucar.png': '/statics/Images/Arroz.png'"
              style="max-width: 300px;"
              :ratio="1"
            />
          </div>
          <div class="col-12 col-sm-8">
            <q-list
              class="q-pa-md"
              style="max-width: 350px"
            >
              <q-item>
                <q-item-section>
                  <q-item-label>{{ sale.product.name }}</q-item-label>
                  <q-item-label caption>
                    De {{ sale.person.name + ' ' + sale.person.lastnameOne }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>
                    Categoria: {{ sale.product.category.name }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>
                    Tipo: {{ sale.product.kind.name }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>
                    Precio Unitario: {{ (Math.round(sale.unitPrice * 100) / 100).toFixed(2) }} S/.
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <q-item-label>
                    Stock: <q-badge
                      :color="sale.stock < 6 ? 'red' : 'green'"
                      align="middle"
                      class="text-body2"
                    >
                      <div v-if="sale.stock < 6">
                        Agotandose &ensp;
                      </div>
                      <div v-else>
                        Disponible &ensp;
                      </div>
                      {{ sale.stock }} <q-icon
                        :name="sale.stock < 6 ? 'warning' : 'done'"
                        color="white"
                        class="q-ml-xs"
                      />
                    </q-badge>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
        <q-toggle
          v-model="onMap"
          label="Mostrar Ubicacion"
          class="q-mb-md"
        />
      </q-card-section>
      <q-separator inset />
      <q-card-section class="row justify-center">
        <q-slide-transition>
          <div
            v-show="onMap"
            v-if="sale.area.name !== ''"
            class="full-width"
          >
            <base-map
              :data="sale"
              :on-drawer="false"
              :on-geolocate="false"
              :on-search="false"
              :on-circle="false"
              class="utp-full-percent-w"
            />
          </div>
        </q-slide-transition>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import BaseMap from 'src/components/leaflet/BaseMap.vue'

import { onMounted, ref } from '@vue/composition-api'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_ONE_SALE } from '../../@core/graphql/querys/client/sale.query'

import { SaleService } from '@core/modules/sale'
import { notifyUtils } from '@core/modules/utils'
import { SALE_SUBSCRIPTION } from '../../@core/graphql/subscriptions'

const _saleService = new SaleService()

export default {
  components: {
    BaseMap
  },
  setup (_, { root }) {
    const saleObj = useQuery(CLIENT_ONE_SALE)
    const sale = useResult(saleObj.result, [])

    saleObj.subscribeToMore(() => ({
      document: SALE_SUBSCRIPTION,
      updateQuery: (previousResult, { subscriptionData }) => {
        if (subscriptionData.data.saleSubs.sale.id === previousResult.data.saleSubs.sale.id) {
          switch (subscriptionData.data.saleSubs.action) {
            case process.env.UPDATE: {
              previousResult.data.sale = subscriptionData.data.saleSubs.sale
              break
            }
            case process.env.DELETE: {
              root.$router.push({ name: 'Products' })
              break
            }
            default:
              break
          }
        }
      }
    }))

    const onMap = ref(true)

    async function getSale () {
      try {
        const id = root.$route.params.id
        await _saleService.getSaleID(id)
      } catch (error) {
        notifyUtils('Ocurrio un error al obtener detalle!')
        root.$router.push({ name: 'Products' })
      }
    }

    function openMap () {
      if (!onMap.value) {
        onMap.value = true
      } else {
        onMap.value = false
      }
    }

    onMounted(() => {
      getSale()
    })

    return {
      sale,
      onMap,
      openMap
    }
  }
}
</script>

<style scoped>
.content-utp-img{
  text-align: center;
}
.utp-full-percent-w{
  height: 40vh;
}
</style>
