<template>
  <div>
    <area-operations />
  </div>
</template>

<script>
import AreaOperations from '@/components/area/AreaOperations.vue'
export default {
  components: {
    AreaOperations
  }
}
</script>

<style scoped>

</style>
