<template>
  <div>
    <balance-card />
  </div>
</template>

<script>
import BalanceCard from '@/components/balance/BalanceCard.vue'
export default {
  components: {
    BalanceCard
  }
}
</script>

<style scoped>

</style>
