<template>
  <div>
    <buy-card />
  </div>
</template>

<script>
import BuyCard from '@/components/buy/BuyCard'
export default {
  components: {
    BuyCard
  }
}
</script>

<style scoped>

</style>
