<template>
  <div>
    <car-table-two />
  </div>
</template>

<script lang='ts'>
import CarTableTwo from 'src/components/shoppingcar/CarTableTwo.vue'
export default {
  components: {
    CarTableTwo
  }
}
</script>

<style lang="scss" scoped>

</style>
