<template>
  <q-page class="row items-center justify-evenly">
    <profile />
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue'
import Profile from 'components/me/Profile.vue'

export default Vue.extend({
  name: 'PageIndex',
  components: {
    Profile
  },
  data () {
    return { }
  }
})
</script>
