<template>
  <div>
    <me-product-card />
  </div>
</template>

<script>
import MeProductCard from '@/components/meproduct/MeProductsCard.vue'
export default {
  components: {
    MeProductCard
  },
  setup () {
    return {}
  }
}
</script>

<style lang="scss" scoped>
</style>
