<template>
  <div>
    <order-buy-card />
  </div>
</template>

<script>
import OrderBuyCard from '@/components/order/OrderBuyCard.vue'

export default {
  components: {
    OrderBuyCard
  },
  setup () {
    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>
