<template>
  <div>
    <sales-product />
  </div>
</template>

<script lang="ts">
import SalesProduct from 'src/components/sale/SalesProduct.vue'

export default {
  components: {
    SalesProduct
  }
}
</script>

<style scoped></style>
