<template>
  <div>
    <provider-card />
  </div>
</template>

<script>
import ProviderCard from '@/components/providers/ProviderCard'
export default {
  components: {
    ProviderCard
  }
}
</script>

<style scoped>

</style>
