<template>
  <div>
    <report-card />
  </div>
</template>

<script lang="ts">
import ReportCard from '@/components/report/ReportCard.vue'

export default {
  components: {
    ReportCard
  },
  setup () {
    return {}
  }
}
</script>

<style scoped>

</style>
