<template>
  <div>
    <sale-form />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import SaleForm from 'src/components/sale/SaleForm.vue'

export default Vue.extend({
  components: {
    SaleForm
  }
})
</script>

<style scoped>

</style>
