<template>
  <div>
    <order-card />
  </div>
</template>

<script>
import OrderCard from '@/components/order/OrderCard'
export default {
  components: {
    OrderCard
  }
}
</script>

<style scoped>

</style>
