<template>
  <div>
    <sign-up-form />
  </div>
</template>

<script lang="ts">
import SignUpForm from 'src/components/auth/SignUpForm.vue'

export default {
  components: {
    SignUpForm
  }
}
</script>

<style scoped>
</style>
