<template>
  <div class="utp-width-4">
    <sign-in-form />
  </div>
</template>

<script lang="ts">
import SignInForm from '@/components/auth/SignInForm.vue'

export default {
  components: {
    SignInForm
  }
}
</script>

<style scoped>
</style>
