<template>
  <div>
    <social-card @start-new-chat="startChat" />
  </div>
</template>

<script>
import SocialCard from '@/components/social/SocialCard.vue'
export default {
  components: {
    SocialCard
  },
  setup (props, { emit }) {
    function startChat (person) {
      emit('start-new-chat', person)
    }
    return {
      startChat
    }
  }
}
</script>

<style scoped>

</style>
