<template>
  <div>
    <validation />
  </div>
</template>

<script>
import Validation from 'components/auth/Validation.vue'
export default {
  components: {
    Validation
  }
}
</script>

<style scoped>

</style>
