<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Reportes</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row justify-end">
          <q-btn
            type="submit"
            label="Agregar Reporte"
            class="q-mt-md"
            color="positive"
            @click="onDialog=true"
          />
        </div>
      </q-card-section>

      <q-separator inset />

      <q-card-section>
        <q-list
          v-for="rep in reports"
          :key="rep.id"
          bordered
          separator
          v-bind="rep"
        >
          <q-item
            v-ripple
            clickable
            :to="'/ayuda/'+rep.id+'/'+rep.title.replace(/\s+/g, '-')"
          >
            <q-item-section>
              <q-item-label
                overline
                style="font-size:17px"
              >{{ rep.title }}</q-item-label>
              <q-item-label caption>Usuario: {{ rep.user }}</q-item-label>
              <br>
              <q-item-label
                class="text-body2"
              >{{ rep.description }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>

    <q-dialog
      v-model="onDialog"
    >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Agregar Ayuda</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form
            class="q-gutter-md"
          >
            <q-select
              v-model="formData.type"
              outlined
              map-options
              emit-value
              option-value="id"
              option-label="name"
              hint="Seleccionar tipo"
              :options="select.options"
              label="Tipo"
            />
            <q-input
              v-model="formData.title"
              outlined
              label="Titulo"
              hint="Agregar un titulo descriptivo"
              lazy-rules
              :rules="[ val => val && val.length > 0 && val.length < 150 || 'Porfavor ingrese un titulo descriptivo']"
            />
            <q-input
              v-model="formData.description"
              outlined
              label="Descripcion"
              hint="Agregar una descripcion"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Porfavor ingrese una description']"
            />
          </q-form>
        </q-card-section>

        <q-card-actions
          align="right"
          class="bg-white text-teal"
        >
          <q-btn
            v-close-popup
            outline
            color="positive"
            label="Crear"
            @click="createReport"
          />
          <q-btn
            v-close-popup
            outline
            color="primary"
            label="Close"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { ReportService } from '@core/modules/report'
import { useQuery, useResult } from '@vue/apollo-composable'
import { ref, reactive, onMounted } from '@vue/composition-api'
import { notifyUtils } from '@core/modules/utils'
import { CLIENT_SESSION_QUERY } from '@/@core/graphql/querys/client/session.query'

const _reportService = new ReportService()

export default {
  data () {
    return {
      onDialog: false
    }
  },
  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const session = useResult(result)

    const select = reactive({
      options: [
        {
          id: 'BUG',
          name: 'Bug'
        },
        {
          id: 'ERROR',
          name: 'Error'
        },
        {
          id: 'ADVERTENCIA',
          name: 'Advertencia'
        },
        {
          id: 'HELP',
          name: 'Ayuda'
        }
      ]
    })

    const reports = ref([])

    const formData = ref({
      user: '',
      type: '',
      title: '',
      description: ''
    })

    async function createReport () {
      try {
        formData.value.user = session.value.user.username
        await _reportService.createReport(formData.value)
      } catch (error) {
        notifyUtils.error('Error al agregar Reporte de ayuda')
      }
    }

    async function allReports () {
      try {
        reports.value = await _reportService.allReports()
      } catch (error) {
        notifyUtils.error('Error al listar Reportes de ayuda')
      }
    }

    onMounted(() => {
      allReports()
    })

    return {
      reports,
      select,
      formData,
      createReport
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
