<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">{{ report.title }}</div>
        <div caption>{{ report.usuario }}</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        {{ report.description }}
      </q-card-section>

      <q-separator inset />

      <q-card-section>
        <q-list
          v-for="res in report.responses"
          :key="res.id"
          bordered
          separator
          v-bind="res"
        >
          <q-item>
            <q-item-section>
              <q-item-label
                overline
                style="font-size:15px"
              >Respuesta de: {{ res.user }}</q-item-label>
              <br>
              <q-item-label
                class="text-body2"
              >{{ res.response }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <br>
        <q-input
          v-model="response"
          outlined
          hint="Ingrese una respuesta"
        />
        <div class="row justify-end">

          <q-btn
            type="submit"
            label="Agregar Respuesta"
            class="q-mt-md"
            color="positive"
            @click="onSubmit"
          />
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '@/@core/graphql/querys/client/session.query'
import { ReportService } from '@core/modules/report'
import { notifyUtils } from '@core/modules/utils'
import { ref, onMounted } from '@vue/composition-api'

const _reportService = new ReportService()

export default {
  setup (_, { root }) {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const session = useResult(result)

    const report = ref({})

    async function getReportID () {
      try {
        const id = root.$route.params.id
        const { responses, ...rest } = await _reportService.oneReportId(id)
        const responsesarr = []
        let index = 0
        responses.map(x => {
          responsesarr.push({ ...JSON.parse(x), id: index })
          index += 1
        })
        report.value = {
          ...rest,
          responses: responsesarr
        }
      } catch (error) {
        notifyUtils.error('Error al obtener Reporte de ayuda')
      }
    }

    const response = ref('')

    async function onSubmit () {
      try {
        const id = root.$route.params.id
        await _reportService.addResposeReport(id, session.value.user.username, response.value)
        report.value.responses.push({
          id: report.value.responses.length,
          user: session.value.user.username,
          response: response.value
        })
        notifyUtils.success('Agreagdo correctamente!!')
      } catch (error) {
        notifyUtils.error('Error al agregar respuesta de ayuda')
      }
    }

    onMounted(() => {
      getReportID()
    })

    return {
      session,
      report,
      response,
      onSubmit
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
