<template>
  <div>
    <q-dialog v-model="onDialog">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Agregar Zona De Entrega</div>
          <q-space />
          <q-btn
            v-close-popup
            icon="close"
            flat
            round
            dense
          />
        </q-card-section>

        <q-card-section class="utp-margin-top-2">
          <q-form
            ref="areaForm"
            class="q-gutter-md"
            @submit="onSubmit"
          >
            <q-input
              outlined
              dense
              disable
              :value="utils.layer.name ==='CIRCLE'? 'Círculo':'Punto'"
              label="Geometría"
              class="utp-margin-top-1"
            />
            <q-input
              outlined
              dense
              disable
              :value="utils.layer.longitud"
              label="Latitud"
              class="utp-margin-top-1"
            />
            <q-input
              outlined
              dense
              disable
              :value="utils.layer.latitud"
              label="Longitud"
              class="utp-margin-top-1"
            />
            <q-input
              v-if="utils.layer.radio"
              outlined
              dense
              disable
              :value="utils.layer.radio"
              label="Radio"
              class="utp-margin-top-1"
            />
            <q-select
              v-model="utils.region"
              outlined
              dense
              map-options
              emit-value
              option-value="id"
              option-label="name"
              :options="utils.regions"
              label="Region"
              class="utp-margin-top-1"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Porfavor seleccione una region']"
              @input="getProvincesRegion"
            />
            <q-select
              v-model="utils.province"
              outlined
              dense
              map-options
              emit-value
              option-value="id"
              option-label="name"
              :options="utils.provinces"
              label="Provincia"
              class="utp-margin-top-1"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Porfavor seleccione una provincia']"
              @input="getDistrictsProvince"
            />
            <q-select
              v-model="utils.district"
              outlined
              dense
              map-options
              emit-value
              option-value="id"
              option-label="name"
              :options="utils.districts"
              label="Distrito"
              class="utp-margin-top-1"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Porfavor seleccione un distrito']"
            />

            <div>
              <q-btn
                label="Agregar"
                type="submit"
                color="primary"
                class="full-width"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { ref, reactive, onMounted } from '@vue/composition-api'
import { UbigeoService } from '@core/modules/general'
import { AreaService } from '@core/modules/area'
import { notifyUtils } from '@core/modules/utils'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'

const _ubigeoService = new UbigeoService()
const _areaService = new AreaService()

export default {
  components: {
  },
  setup (_, { root }) {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)
    const { user } = data.value

    const onDialog = ref<boolean>(false)
    const loading = ref<boolean>(false)

    const utils = reactive({
      region: '',
      regions: [],
      province: '',
      provinces: [],
      district: '',
      districts: [],
      kind: '',
      kinds: [],
      category: '',
      categorys: [],
      products: [],
      layer: {
        name: '',
        latitud: 0,
        longitud: 0,
        radio: 0,
        id: 0
      }
    })

    async function getRegions () {
      try {
        loading.value = true
        const { allRegions } = await _ubigeoService.getRegions()
        utils.regions = allRegions
      } catch (error) {
      } finally {
        loading.value = false
      }
    }

    async function getProvincesRegion () {
      try {
        loading.value = true
        const { allProvincesRegion } = await _ubigeoService.getProvincesRegion(
          utils.region
        )
        utils.provinces = allProvincesRegion
      } catch (error) {
      } finally {
        loading.value = false
      }
    }

    async function getDistrictsProvince () {
      try {
        loading.value = true
        const {
          allDistritsProvince
        } = await _ubigeoService.getDistrictsProvince(utils.province)
        utils.districts = allDistritsProvince
      } catch (error) {
      } finally {
        loading.value = false
      }
    }

    function onClickChild (layer) {
      onDialog.value = true
      utils.layer = {
        radio: layer._mRadius,
        latitud: layer._latlng.lat,
        longitud: layer._latlng.lng,
        id: layer._leaflet_id,
        name: !layer._mRadius ? 'POINT' : 'CIRCLE'
      }
    }

    async function onSubmit () {
      try {
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        const { id, ...rest } = utils.layer
        const district = Number(utils.district)
        await _areaService.createArea({ ...rest, district, user: user.username })
        notifyUtils.success('Area registrada correctamente!')
        root.$router.push({ name: 'Sale' })
      } catch (error) {
        notifyUtils.error('Ocurrio un error al registrar el area seleccionada!')
      }
    }

    onMounted(() => {
      getRegions()
    })

    return {
      getRegions,
      getProvincesRegion,
      getDistrictsProvince,
      onDialog,
      onClickChild,
      onSubmit,
      utils
    }
  }
}
</script>

<style scoped>
</style>
