<template>
  <div class="utp-full-percent-w">
    <base-map
      :on-drawer="true"
      :on-geolocate="true"
      :on-search="true"
      :areas="areas"
      :orders="orders"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, onMounted } from '@vue/composition-api'
import BaseMap from '@/components/leaflet/BaseMap.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_AREAS, CLIENT_ALL_ORDERS } from '@core/graphql/querys/client'
import { AreaService } from '@core/modules/area'
import { OrderService } from '@core/modules/order'

const _areaService = new AreaService()
const _orderService = new OrderService()

export default defineComponent({
  components: {
    BaseMap
  },
  setup () {
    const areaResult = useQuery(CLIENT_AREAS)
    const areaObj = useResult(areaResult.result, [])

    const orderResult = useQuery(CLIENT_ALL_ORDERS)
    const orderObj = useResult(orderResult.result, [])

    const areas = computed(() => {
      const layerAreas = []
      areaObj.value.map(x => {
        const circle = {
          id: x.id,
          latitud: x.latitud,
          longitud: x.longitud,
          radius: x.radio
        }
        layerAreas.push(circle)
      })
      return layerAreas
    })

    const orders = computed(() => {
      const layerOrders = []
      orderObj.value.map(x => {
        const marker = {
          id: x.id,
          latitud: x.locate.latitud,
          longitud: x.locate.longitud,
          popup: {
            person: x.buy.person.name,
            description: x.sale.product.name,
            quantity: x.quantity,
            icon: ''
          }
        }
        layerOrders.push(marker)
      })
      return layerOrders
    })

    async function startLayers () {
      await _areaService.allAreas()
      await _orderService.allOrders()
    }

    onMounted(() => {
      startLayers()
    })

    return {
      areas,
      orders
    }
  }
})
</script>

<style scoped>
.utp-full-percent-w{
  height: 93vh;
}
</style>
