<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Mis Productos En Venta</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-banner
          inline-actions
          rounded
          class="bg-orange text-white"
        >
          Nota: Solo se puede cambiar de estado los que tienen un stock de 0 asumiendo que ya se termino el pedido por lo que comenzara la entrega.
        </q-banner>
      </q-card-section>

      <q-separator inset />

      <q-card-section>
        <table-base
          :ndata="sales"
          :columns="columns"
          @row-click="saleClick"
        />
      </q-card-section>
    </q-card>
    <q-dialog
      v-if="Object.keys(sale).length > 2"
      v-model="ondialog"
    >
      <q-card style="width: 300px">
        <q-card-section>
          <div class="text-h6">#{{ sale.id + ' ' + sale.product.name }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-select
            v-model="sale.status"
            outlined
            map-options
            emit-value
            option-value="id"
            option-label="name"
            :options="options"
            label="Distrito"
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="bg-white text-teal"
        >
          <q-btn
            v-close-popup
            outline
            color="positive"
            label="Establecer"
            @click="onSubmit"
          />
          <q-btn
            v-close-popup
            flat
            label="Cancelar"
            color="primary"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { SaleService } from '@core/modules/sale'
import { OrderService } from '@core/modules/order'
import { notifyUtils } from '@core/modules/utils'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '@/@core/graphql/querys/client/session.query'
import { onMounted, computed, ref } from '@vue/composition-api'
import { CLIENT_SALES } from '@/@core/graphql/querys/client/sale.query'
import TableBase from '@/components/utils/TableBase.vue'

const _saleService = new SaleService()
const _orderService = new OrderService()

export default {
  components: {
    TableBase
  },
  data () {
    return {
      options: [
        {
          id: 'EMPAQUETANDO',
          name: 'EMPAQUETANDO'
        },
        {
          id: 'CARRETERA',
          name: 'CARRETERA'
        },
        {
          id: 'RECOGIDO',
          name: 'RECOGIDO'
        }
      ],
      columns: [
        { name: 'name', label: 'Codigo', sortable: true, field: row => '#' + row.id },
        { name: 'product', label: 'Producto', sortable: true, field: row => row.product.name },
        { name: 'stock', label: 'Stock', sortable: true, field: row => row.stock },
        { name: 'price', label: 'Precio Unid.', sortable: true, field: row => row.unitPrice },
        { name: 'status', label: 'Estado', sortable: true, field: row => row.status }
      ]
    }
  },
  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const session = useResult(result)

    const saleObj = useQuery(CLIENT_SALES)
    const salesarr = useResult(saleObj.result, [])

    const sales = computed(() => {
      const newsales = []
      salesarr.value.map(x => {
        let status = 'EN VENTA'
        let classcolor = false
        if (Number(x.stock) === 0) status = 'EN CAMINO'
        if (Number(x.stock) === 0) classcolor = true
        const newsale = {
          ...x,
          status,
          classcolor
        }
        newsales.push(newsale)
      })
      return newsales
    })

    async function getSales () {
      try {
        await _saleService.getSalesPerson(session.value.user.person.id)
      } catch (error) {
        notifyUtils.error('Error al obtener registros')
      }
    }

    const ondialog = ref(false)
    const sale = ref({
      id: 0,
      status: ''
    })

    function saleClick (obj) {
      console.log(obj.stock)
      if (obj.stock === 0) {
        ondialog.value = true
        sale.value = obj
      } else {
        ondialog.value = false
      }
    }

    async function onSubmit () {
      try {
        await _orderService.changeOrdersSale(sale.value.id, sale.value.status)
        const index = sales.value.findIndex(x => x.id === sale.value.id)
        sales.value[index].status = 'EN CAMINO'
        notifyUtils.success('Se establecio el estado correctamente!!')
      } catch (error) {
        notifyUtils.error('Ocurrio un error al cambiar el estado de la publicacion')
      }
    }

    onMounted(() => {
      getSales()
    })

    return {
      sales,
      sale,
      ondialog,
      onSubmit,
      saleClick
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
