// app global css in SCSS form
// app global css in SCSS form
.sign-in-page {
  background: #f5f5f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5f5f5,
    #f5f5f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5f5f5,
    #f5f5f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.utp-full-vw {
  width: 100vw;
}
.utp-full-vh {
  height: 100vh;
}
.utp-full-percent-w {
  width: 100%;
}
.utp-full-percent-h {
  height: 100%;
}
.utp-width-2 {
  max-width: 20vw;
}
.utp-width-4 {
  max-width: 40vw;
}
.utp-width-6 {
  max-width: 60vw;
}
.utp-width-8 {
  max-width: 80vw;
}

.utp-heigth-2 {
  max-height: 20vh;
}
.utp-heigth-4 {
  max-height: 40vh;
}
.utp-heigth-6 {
  max-height: 60vh;
}
.utp-heigth-8 {
  max-height: 80vh;
}

.utp-margin-top-1 {
  margin-top: 10px;
}

.utp-margin-top-2 {
  margin-top: 20px;
}

.utp-margin-top-3 {
  margin-top: 30px;
}

.utp-margin-left-3 {
  margin-left: 30px;
}

.utp-margin-left-1 {
  margin-left: 10px;
}

.utp-margin-left-2 {
  margin-left: 20px;
}

.utp-margin-left-3 {
  margin-left: 30px;
}

.utp-margin-left-3 {
  margin-left: 30px;
}
.utp-margin-left-3 {
  margin-left: 30px;
}

.utp-margin-left-1 {
  margin-left: 10px;
}

.utp-margin-left-2 {
  margin-left: 20px;
}

.utp-margin-left-3 {
  margin-left: 30px;
}
.utp-margin-left-3 {
  margin-left: 30px;
}

.utp-margin-left-1 {
  margin-left: 10px;
}

.utp-margin-left-2 {
  margin-left: 20px;
}

.utp-margin-left-3 {
  margin-left: 30px;
}
.utp-margin-right-1 {
  margin-right: 10px;
}

.utp-margin-right-2 {
  margin-right: 20px;
}

.utp-margin-right-3 {
  margin-right: 30px;
}

.utp-padding-left-1 {
  padding-left: 10px;
}

.utp-padding-left-2 {
  padding-left: 20px;
}

.utp-padding-left-3 {
  padding-left: 30px;
}
.utp-padding-right-1 {
  padding-right: 10px;
}

.utp-padding-right-2 {
  padding-right: 20px;
}

.utp-padding-right-3 {
  padding-right: 30px;
}

.utp-margin-bottom-1 {
  margin-bottom: 10px;
}

.utp-margin-bottom-2 {
  margin-bottom: 20px;
}

.utp-margin-bottom-3 {
  margin-bottom: 30px;
}

.utp-margin-general-1 {
  margin: 10px;
}
.utp-margin-general-2 {
  margin: 20px;
}
.utp-margin-general-3 {
  margin: 30px;
}

@media only screen and (max-width: 1300px) {
  .utp-width-2 {
    max-width: 30vh;
  }
  .utp-width-4 {
    max-width: 70vh;
  }
}

@media only screen and (max-width: 1100px) {
  .utp-width-2 {
    max-width: 40vh;
  }
  .utp-width-4 {
    max-width: 80vh;
  }
}

.utp-superposition-padre {
  // height: 100px;
  position: relative;
  // width: 100px;
}

.utp-superposition-child {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  // height: 70px;
  // width: 70px;
}

.q-item {
  color: #13161f !important;
}
