<template>
  <q-card class="bg-white full-width">
    <q-card-section
      class="bg-blue-grey-8"
    >
      <div class="row items-center no-wrap">
        <div class="col">
          <div class="text-h6 text-white text-center">Operaciones</div>
        </div>
      </div>
    </q-card-section>
    <q-card-section v-model="chartdata">
      <canvas id="line-chart" />
    </q-card-section>
  </q-card>
</template>

<script>
import Chart from 'chart.js'
import { onMounted, ref, computed } from '@vue/composition-api'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_ALL_BUYS, CLIENT_ALL_ORDERS } from '../../@core/graphql/querys/client'

export default {

  setup () {
    const buysObj = useQuery(CLIENT_ALL_BUYS)
    const buys = useResult(buysObj.result, [])

    const ordersObj = useQuery(CLIENT_ALL_ORDERS)
    const orders = useResult(ordersObj.result, [])

    const dates = ref([])
    const chart = ref(null)

    function createChart (chartId) {
      const ctx = document.getElementById(chartId)
      chart.value = new Chart(ctx, {
        type: 'line',
        data: {
          labels: dates.value,
          datasets: [
            {
              data: [],
              borderWidth: 2,
              fill: false,
              borderColor: '#3e95cd',
              label: 'Compras'
            },
            {
              data: [],
              borderWidth: 2,
              fill: false,
              borderColor: '#8e5ea2',
              label: 'Ventas'
            }
          ]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: 'Compras y ventas por dia'
          },
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              display: true,
              type: 'time',
              time: {
                parser: 'MM/DD/YYYY HH:mm',
                tooltipFormat: 'll HH:mm',
                unit: 'day',
                unitStepSize: 1,
                displayFormats: {
                  day: 'll'
                }
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
                // eslint-disable-next-line @typescript-eslint/no-unused-vars
                callback: function (value, index, values) {
                  return 'S/. ' + value
                }
              }
            }]
          }
        }
      })
    }

    function chartUpdate () {
      chart.value.update()
    }

    function addDataChart (index, data) {
      chart.value.data.datasets[index].data = data
    }

    const chartdata = computed(() => {
      const arraybuys = []
      const arrayorders = []
      dates.value.map(d => {
        const strdate = new Date(d).toISOString().slice(0, 10)
        let totalbuys = 0
        let totalorders = 0
        buys.value.map(x => {
          const xdate = x.created.slice(0, 10)
          if (xdate === strdate) {
            totalbuys += x.payment.total
          }
        })
        orders.value.map(x => {
          const xdate = x.created.slice(0, 10)
          if (xdate === strdate) {
            totalorders += x.price
          }
        })
        if (totalbuys > 0) {
          arraybuys.push((Math.round(totalbuys * 100) / 100).toFixed(2))
        } else {
          arraybuys.push(0)
        }
        if (totalorders > 0) {
          arrayorders.push((Math.round(totalorders * 100) / 100).toFixed(2))
        } else {
          arrayorders.push(0)
        }
      })
      if (chart.value !== null) {
        addDataChart(0, arraybuys)
        addDataChart(1, arrayorders)
        chartUpdate()
      }
      return []
    })

    function startDates () {
      let l = 0
      const date = new Date()
      while (l < 8) {
        const newDate = new Date()
        dates.value.unshift(newDate.setDate(date.getDate() - l))
        l += 1
      }
    }

    onMounted(() => {
      createChart('line-chart')
      startDates()
    })

    return {
      chartdata
    }
  }
}
</script>

<style scoped>
</style>
