<template>
  <div class="q-pa-md">
    <q-card
      flat
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Balance</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-12 col-sm-6 q-pa-md">
                <q-banner
                  rounded
                  class="bg-primary text-white"
                >
                  <div class="row">
                    <div class="col-12 q-pa-md">
                      <div class="text-h6">Total ventas</div>
                      <div class="text-h5">{{ (Math.round(totalSales * 100) / 100).toFixed(2) }} S/.</div>
                    </div>
                    <div class="col-12 q-pa-md">
                      <div class="text-h6">Promdedio de ventas</div>
                      <div class="text-h5">{{ (Math.round(promSales * 100) / 100).toFixed(2) }} S/.</div>
                    </div>
                  </div>
                </q-banner>
              </div>
              <div class="col-12 col-sm-6 q-pa-md">
                <q-banner
                  rounded
                  class="bg-primary text-white"
                >
                  <div class="row">
                    <div class="col-12 q-pa-md">
                      <div class="text-h6">Total Compras</div>
                      <div class="text-h5">{{ (Math.round(totalBuys * 100) / 100).toFixed(2) }} S/.</div>
                    </div>
                    <div class="col-12 q-pa-md">
                      <div class="text-h6">Promedio de Compras</div>
                      <div class="text-h5">{{ (Math.round(promBuys * 100) / 100).toFixed(2) }} S/.</div>
                    </div>
                  </div>
                </q-banner>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-12 q-pa-md">
                <q-banner
                  rounded
                  class="bg-primary text-white"
                >
                  <div class="text-h6">Numero de ventas</div>
                  <div class="text-h5">{{ numSales }}</div>
                </q-banner>
              </div>
              <div class="col-12 q-pa-md">
                <q-banner
                  rounded
                  class="bg-primary text-white"
                >
                  <div class="text-h6">Numero de compras</div>
                  <div class="text-h5">{{ numBuys }}</div>
                </q-banner>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>

      <q-card-section>
        <div class="row">
          <div class="col-12 col-md-8">
            <orders-card
              title="Ventas Recientes"
              :columns="columnsOrders"
              :orders="sortedOrders"
              :hide-bottom="true"
              class="q-pa-md"
            />
          </div>
          <div class="col-12 col-md-4">
            <orders-card
              title="Compras Recientes"
              :columns="columnsBuys"
              :orders="sortedBuys"
              :hide-bottom="true"
              class="q-pa-md"
            />
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="row">
          <div class="col-12 col-md-8 q-pa-md">
            <balance-chart
              class="utp-chart"
            />
          </div>
          <div class="col-12 col-md-4 q-pa-md">
            <orders-sales-chart
              :buy-sales="buySales"
              class="utp-chart"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import OrdersCard from '@/components/balance/OrdersTable'
import BalanceChart from '@/components/balance/BalanceChart'
import OrdersSalesChart from '@/components/balance/BuySalesChart'
import { useQuery, useResult } from '@vue/apollo-composable'
import { computed, onMounted } from '@vue/composition-api'
import { CLIENT_SESSION_QUERY } from '../../@core/graphql/querys/client/session.query'
import { CLIENT_ALL_ORDERS, CLIENT_ALL_BUYS } from '../../@core/graphql/querys/client'
import { ORDER_SUBSCRIPTION, BUY_SUBSCRIPTION } from '../../@core/graphql/subscriptions'
import { OrderService } from '@core/modules/order'
import { BuyService } from '@core/modules/buy'

const _orderService = new OrderService()
const _buyService = new BuyService()

export default {
  components: {
    OrdersCard,
    BalanceChart,
    OrdersSalesChart
  },
  data () {
    return {
      columnsOrders: [
        {
          name: 'id',
          required: true,
          label: 'Orden Numero',
          align: 'left',
          field: row => '#' + row.id,
          sortable: false
        },
        {
          name: 'buyer',
          required: true,
          label: 'Comprador',
          align: 'left',
          field: row => row.buy.person.name + ' ' + row.buy.person.lastnameOne + ' ' + row.buy.person.lastnameTwo,
          sortable: false
        },
        {
          name: 'product',
          required: true,
          label: 'Producto',
          align: 'left',
          field: row => row.sale.product.name,
          sortable: false
        },
        {
          name: 'quantity',
          required: true,
          label: 'Cantidad',
          align: 'left',
          field: row => row.quantity,
          sortable: false
        },
        {
          name: 'total',
          required: true,
          label: 'Total',
          align: 'left',
          field: row => (Math.round(row.price * 100) / 100).toFixed(2),
          sortable: false
        },
        {
          name: 'status',
          required: true,
          label: 'Estado',
          align: 'left',
          field: row => row.status ? 'Aceptado' : 'Rechazado',
          sortable: false
        }
      ],
      columnsBuys: [
        {
          name: 'id',
          required: true,
          label: 'Compra numero',
          align: 'left',
          field: row => '#' + row.id,
          sortable: false
        },
        {
          name: 'total',
          required: true,
          label: 'Total',
          align: 'left',
          field: row => row.payment.total,
          sortable: false
        },
        {
          name: 'status',
          required: true,
          label: 'Estado',
          align: 'left',
          field: row => row.status ? 'Aceptado' : 'Rechazado',
          sortable: false
        }
      ]
    }
  },
  setup () {
    const { result } = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(result)
    const { user } = data.value

    const ordersObj = useQuery(CLIENT_ALL_ORDERS)
    const orders = useResult(ordersObj.result, [])
    const sortedOrders = computed(() => orders.value.sort((a, b) => {
      return (b.id - a.id)
    }))

    function indexObj (arr, data) {
      return arr.findIndex(x => x.id === data.id)
    }

    ordersObj.subscribeToMore(() => ({
      document: ORDER_SUBSCRIPTION,
      variables: { personChannel: data.value.user.person.documentNumber },
      updateQuery: (previousResult, { subscriptionData }) => {
        switch (subscriptionData.data.orderPersonSubs.action) {
          case process.env.CREATE:
            previousResult.orders.push(subscriptionData.data.orderPersonSubs.order)
            break
          case process.env.UPDATE: {
            const indexUpdate = indexObj(previousResult.orders, subscriptionData.data.orderPersonSubs.order)
            previousResult.orders.splice(indexUpdate, 1)
            previousResult.orders.push(subscriptionData.data.orderPersonSubs.order)
            break
          }
          case process.env.DELETE: {
            const indexDelete = indexObj(previousResult.sales, subscriptionData.data.orderPersonSubs.order)
            previousResult.orders.splice(indexDelete, 1)
            break
          }
          default:
            break
        }
      }
    }))

    const buysObj = useQuery(CLIENT_ALL_BUYS)
    const buys = useResult(buysObj.result, [])

    const sortedBuys = computed(() => buys.value.sort((a, b) => {
      return (b.id - a.id)
    }))

    buysObj.subscribeToMore(() => ({
      document: BUY_SUBSCRIPTION,
      variables: { personChannel: data.value.user.person.documentNumber },
      updateQuery: (previousResult, { subscriptionData }) => {
        switch (subscriptionData.data.buyPersonSubs.action) {
          case process.env.CREATE:
            previousResult.buys.push(subscriptionData.data.buyPersonSubs.buy)
            break
          case process.env.UPDATE: {
            const indexUpdate = indexObj(previousResult.buys, subscriptionData.data.buyPersonSubs.buy)
            previousResult.buys.splice(indexUpdate, 1)
            previousResult.buys.push(subscriptionData.data.buyPersonSubs.buy)
            break
          }
          case process.env.DELETE: {
            const indexDelete = indexObj(previousResult.buys, subscriptionData.data.buyPersonSubs.buy)
            previousResult.buys.splice(indexDelete, 1)
            break
          }
          default:
            break
        }
      }
    }))

    const totalBuys = computed(() => {
      let num
      buys.value.map(buy => {
        if (num === undefined) num = 0
        num += buy.payment.total
      })
      return num
    })

    const totalSales = computed(() => {
      let num
      orders.value.map(order => {
        if (num === undefined) num = 0
        num += order.price
      })
      return num
    })

    const numBuys = computed(() => buys.value.length)
    const numSales = computed(() => orders.value.length)

    const promBuys = computed(() => {
      return (totalBuys.value / numBuys.value)
    })

    const promSales = computed(() => {
      return (totalSales.value / numSales.value)
    })

    const buySales = computed(() => [numBuys.value, numSales.value])

    async function startBalance () {
      await _orderService.allOrdersPerson(data.value.user.person.id)
      await _buyService.allBuysPerson(data.value.user.person.id)
    }

    onMounted(() => {
      startBalance()
    })

    return {
      numBuys,
      numSales,
      totalBuys,
      totalSales,
      promBuys,
      promSales,
      sortedOrders,
      sortedBuys,
      user,
      buySales
    }
  }
}
</script>

<style scoped>
.my-card{
  background: #fafafa;
}
.q-card__section--vert{
  padding: 0px !important;
}
.utp-chart{
  /* max-height: 250px; */
  overflow: hidden;
  height: 100%;
}
</style>
