<template>
  <q-card class="bg-white full-width">
    <q-card-section class="bg-blue-grey-8">
      <div class="row items-center no-wrap">
        <div class="col">
          <div class="text-h6 text-white text-center">Compras Ventas</div>
        </div>
      </div>
    </q-card-section>
    <q-card-section class="utp-chart">
      <canvas id="doughnut-chart" />
    </q-card-section>
  </q-card>
</template>

<script>
import Chart from 'chart.js'
export default {
  props: {
    buySales: {
      type: Array, required: true
    }
  },
  data () {
    return {
      newBuySales: []
    }
  },
  mounted () {
    this.createChart('doughnut-chart')
  },
  methods: {
    createChart (chartId) {
      const ctx = document.getElementById(chartId)
      const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Compras', 'Ventas'],
          datasets: [
            {
              label: 'Population (millions)',
              backgroundColor: ['#3e95cd', '#8e5ea2'],
              data: this.$props.buySales
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Comparativa entre compras y ventas'
          }
        }
      })
      return myChart
    }
  }
}
</script>

<style scoped>
.utp-chart{
  /* max-height: 250px; */
  overflow: hidden;
}

</style>
