<template>
  <div>
    <q-table
      :title="title"
      :dense="dense"
      :data="orders"
      :columns="columns"
      :loading="loading"
      :hide-bottom="hideBottom"
      row-key="name"
    />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String, required: true, default: 'Ventas'
    },
    dense: {
      type: Boolean, default: false
    },
    loading: {
      type: Boolean, default: false
    },
    orders: {
      type: Array, required: true
    },
    columns: {
      type: Array, required: true
    },
    hideBottom: {
      type: Boolean, default: false
    }
  },
  data () {
    return {

    }
  }
}
</script>

<style scoped>

</style>
