<template>
  <q-layout
    view="hHh LpR lFf"
    class="bg-grey-1"
  >
    <q-header
      elevated
      class="bg-white text-grey-8 q-py-xs"
      height-hint="58"
    >
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          aria-label="Menu"
          icon="menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-btn
          v-if="$q.screen.gt.xs"
          flat
          no-caps
          no-wrap
          class="q-ml-xs"
        >
          <q-toolbar-title
            shrink
            class="text-weight-bold"
          >UTP</q-toolbar-title>
        </q-btn>

        <q-space />

        <!-- <div class="YL__toolbar-input-container row no-wrap">
          <q-input
            dense
            outlined
            square
            v-model="search"
            placeholder="Search"
            class="bg-white col"
          />
          <q-btn
            class="YL__toolbar-input-btn"
            color="grey-3"
            text-color="grey-8"
            icon="search"
            unelevated
          />
        </div>-->

        <q-space />

        <div class="q-gutter-sm row items-center no-wrap">
          <div v-if="isLogged">
            <q-btn
              dense
              flat
              icon="shopping_cart"
              class="q-ml-md"
            >
              <q-badge
                color="red"
                floating
              >
                {{ productsCar.product[0].subtotal === 0 ? productsCar.product.length - 1: productsCar.product.length }}
              </q-badge>
              <q-menu
                transition-show="jump-down"
                transition-hide="jump-up"
              >
                <q-list style="min-width: 200px">
                  <q-item
                    v-for="prod in productsCar.product"
                    :key="prod.sale.id"
                    v-bind="prod"
                    clickable
                  >
                    <q-item-section
                      v-if="prod.subtotal !== 0"
                      top
                      avatar
                    >
                      <q-avatar rounded>
                        <q-img :src="prod.sale.product.name === 'Azucar'? '/statics/Images/whitesugar.jpg': '/statics/Images/whiterice.jpg'" />
                      </q-avatar>
                    </q-item-section>
                    <q-item-section v-if="prod.subtotal !== 0">
                      <q-item-label>{{ prod.sale.product.name }}</q-item-label>
                      <q-item-label caption> Cantidad: {{ prod.quantity }}</q-item-label>
                      <q-item-label caption> Subtotal: {{ prod.subtotal }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <!-- <q-item clickable>
                    <q-item-section>Producto 2</q-item-section>
                  </q-item>-->
                  <q-separator />
                  <q-item>
                    <q-item-section>Total: {{ productsCar.total }}</q-item-section>
                  </q-item>
                  <q-separator />
                  <q-item
                    clickable
                    :to="{name: 'Car'}"
                  >
                    <q-item-section>Ir a productos</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
            <!-- <q-btn
              v-if="$q.screen.gt.sm"
              round
              dense
              flat
              color="grey-8"
              icon="message"
            >
              <q-tooltip>Messages</q-tooltip>
            </q-btn> -->
            <!-- <q-btn
              round
              dense
              flat
              color="grey-8"
              icon="notifications"
            >
              <q-badge
                color="red"
                text-color="white"
                floating
              >2</q-badge>
              <q-tooltip>Notifications</q-tooltip>
            </q-btn> -->
            <q-btn
              round
              flat
            >
              <perfil-photo :person="data.user.person" />
              <q-tooltip>Account</q-tooltip>
              <q-menu
                transition-show="jump-down"
                transition-hide="jump-up"
              >
                <q-list style="min-width: 100px">
                  <q-item
                    clickable
                    :to="{name: 'Perfil'}"
                  >
                    <q-item-section>Perfil</q-item-section>
                  </q-item>
                  <!-- <q-item clickable>
                    <q-item-section>Crazy for transitions</q-item-section>
                  </q-item>-->
                  <q-separator />
                  <q-item
                    clickable
                    @click="signOut"
                  >
                    <q-item-section>Cerrar Sesion</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
            <!-- <header-logged-items /> -->
          </div>
          <div v-if="!isLogged">
            <q-btn
              :to="{ name: 'SignIn' }"
              outline
              style="color: #007bcf"
              class="utp-padding-right-1 utp-margin-right-1 utp-padding-left-1 utp-margin-left-1"
              label="INGRESAR"
            />
            <!-- <header-not-logged-items /> -->
          </div>
        </div>
        <q-btn
          flat
          dense
          round
          class="vertical-bottom"
          aria-label="Menu"
          icon="menu"
          @click="miniStateTwo = !miniStateTwo"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered

      :mini="miniState"
      content-class="bg-grey-2"
      :width="240"

      @mouseover="miniState = false"
      @mouseout="miniState = true"
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <div v-if="!isLogged">
            <essential-link
              v-for="link in linksFive"
              :key="link.title"
              v-bind="link"
            />
          </div>
          <div v-if="isLogged">
            <essential-link
              v-for="link in linksOne"
              :key="link.title"
              v-bind="link"
            />
          </div>

          <div>
            <q-separator class="q-mt-md q-mb-xs" />

            <q-item-label
              header
              class="text-weight-bold text-uppercase"
            >VENTAS</q-item-label>

            <essential-link
              v-for="link in linksTwo"
              :key="link.title"
              v-bind="link"
            />
          </div>

          <div>
            <!-- <q-separator class="q-mt-md q-mb-xs" />

            <q-item-label
              header
              class="text-weight-bold text-uppercase"
            >COMPRAS</q-item-label>

            <essential-link
              v-for="link in linksThree"
              :key="link.title"
              v-bind="link"
            /> -->
          </div>
          <div>
            <q-separator class="q-mt-md q-mb-xs" />

            <essential-link
              v-for="link in linksFor"
              :key="link.title"
              v-bind="link"
            />
          </div>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <!-- @mouseover="miniStateTwo = false"
      @mouseout="miniStateTwo = true" -->
    <q-drawer
      v-model="drawerRight"
      side="right"
      show-if-above
      bordered
      :width="250"
      :breakpoint="500"
      content-class="bg-grey-3"
      :mini="miniStateTwo"
      @click.capture="miniStateTwo = !miniStateTwo"
    >
      <q-scroll-area class="fit">
        <div class="q-pa-sm">
          <social-friends @start-new-chat="startChat" />
        </div>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view @start-new-chat="startChat" />
      <chat-sticky v-if="Object.entries(newChat.person).length !== 0" />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import ChatSticky from '@/components/chat/ChatSticky.vue'
/** components */
import EssentialLink from 'src/components/layout/EssentialLink.vue'
import SocialFriends from 'src/components/chat/SocialFriends.vue'
import PerfilPhoto from 'src/components/utils/PerfilFoto.vue'

/** composition api */
import { defineComponent, reactive } from '@vue/composition-api'

/** apollo core */
import { SessionState } from '@core/modules/auth/session.state'
import { notifyUtils } from '@core/modules/utils'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_SESSION_QUERY } from '../@core/graphql/querys/client/session.query'
import { CLIENT_CAR } from '../@core/graphql/querys/client/shopping.car.query'
import { PERSON_SUBSCRIPTION } from '../@core/graphql/subscriptions'

const _sessionState = new SessionState()

export default defineComponent({
  name: 'MyLayout',
  components: {
    EssentialLink,
    SocialFriends,
    ChatSticky,
    PerfilPhoto
  },
  data () {
    return {
      leftDrawerOpen: false,
      drawerRight: false,
      miniState: true,
      miniStateTwo: true,
      search: '',
      linksTwo: [
        {
          title: 'Vender',
          // icon: 'local_mall',
          icon: 'storefront',
          link: '/vender',
          to: 'Sale'
        },
        {
          title: 'Productos',
          icon: 'grass',
          link: '/',
          to: 'Products'
        },
        {
          title: 'Zonas de entrega',
          icon: 'location_on',
          link: '/zonas',
          to: 'Area'
        },
        {
          title: 'Proveedores',
          icon: 'sports_handball',
          link: '/proveedores',
          to: 'Providers'
        }
      ],
      linksFor: [
        // {
        //   title: 'Ayuda',
        //   icon: 'help_outline',
        // },
        {
          title: 'Ayuda',
          icon: 'help_outline',
          to: 'Helps'
        }
      ],
      linksFive: [
        {
          title: 'Principal',
          icon: 'account_circle',
          link: '/'
        }
      ]
    }
  },
  setup (_, { root }) {
    const userObj = useQuery(CLIENT_SESSION_QUERY)
    const data = useResult(userObj.result)
    const { user, isLogged } = data.value

    const productsCarObj = useQuery(CLIENT_CAR)
    const productsCar = useResult(productsCarObj.result)

    userObj.subscribeToMore(() => ({
      document: PERSON_SUBSCRIPTION,
      updateQuery: (previousResult, { subscriptionData }) => {
        if (subscriptionData.data.personSubs.action === process.env.UPDATE) {
          // eslint-disable-next-line @typescript-eslint/no-unused-vars
          const { user: { person: { photo, ...restp }, ...restu }, ...rests } = previousResult.session
          const nphoto = subscriptionData.data.personSubs.person.photo
          const nsession = {
            ...rests,
            user: {
              ...restu,
              person: {
                ...restp,
                photo: nphoto
              }
            }
          }
          previousResult.session = nsession
        }
      }
    }))

    const newChat = reactive({
      person: {}
    })

    function startChat (person) {
      newChat.person = person
    }

    function signOut () {
      _sessionState.close()
      notifyUtils.info('session.info.close')
      root.$router.push({ name: 'Products' })
    }

    const linksOne = [
      {
        title: 'Perfil',
        icon: 'account_circle',
        to: 'Perfil'
      },
      {
        title: 'Circulo',
        icon: 'group',
        to: 'Social'
      },
      {
        title: 'Ventas',
        icon: 'linear_scale',
        to: 'Sales'
      },
      {
        title: 'Compras',
        icon: 'scatter_plot',
        to: 'Buys'
      },
      {
        title: 'Pedidos',
        icon: 'shopping_bag',
        to: 'Orders'
      },
      {
        title: 'Balance',
        icon: 'insights',
        to: 'Balance'
      },
      {
        title: 'Mis Productos',
        icon: 'whatshot',
        to: 'MeProducts'
      }
    ]

    return {
      user,
      linksOne,
      isLogged,
      signOut,
      productsCar,
      startChat,
      newChat,
      data
    }
  }
})
</script>

<style lang="sass">
.YL
  &__toolbar-input-container
    min-width: 100px
    width: 55%
  &__toolbar-input-btn
    border-radius: 0
    border-style: solid
    border-width: 1px 1px 1px 0
    border-color: rgba(0,0,0,.24)
    max-width: 60px
    width: 100%
  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem
    &:hover
      color: #000
</style>
