<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page class="sign-in-page row justify-center flex-center">
        <div class="">
          <router-view />
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
export default {
  components: {}
}
</script>
