<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Carrito</div>
      </q-card-section>

      <q-card-section class="q-pt-none" />

      <q-card-section>
        <q-table
          class="my-sticky-header-column-table"
          :data="car.product"
          :columns="columns"
          row-key="name"
          hide-bottom
          flat
          bordered
        >
          <template
            v-slot:body="props"
          >
            <q-tr
              v-if="props.row.sale.product.category.name !== ''"
              :props="props"
            >
              <q-td
                key="img"
                :props="props"
              >
                <q-avatar>
                  <q-img
                    :src="props.row.sale.product.category.name === 'Azucar' ? '/statics/Images/Azucar.png' : '/statics/Images/Arroz.png'"
                    spinner-color="white"
                  />
                </q-avatar>
              </q-td>
              <q-td
                key="name"
                :props="props"
              >
                {{ props.row.sale.product.name }}
                <br>
                <q-badge :color="props.row.sale.stock < 6 ? 'red' : 'green'">
                  <div v-if="props.row.sale.stock < 6">
                    Agotandose &ensp;
                  </div>
                  <div v-else>
                    Disponible &ensp;
                  </div>
                  {{ props.row.sale.stock }} <q-icon
                    :name="props.row.sale.stock < 6 ? 'warning' : 'done'"
                    color="white"
                    class="q-ml-xs"
                  />
                </q-badge>
              </q-td>
              <q-td
                key="weigth"
                :props="props"
              >
                {{ props.row.sale.weight }} Kg.
              </q-td>
              <q-td
                key="price"
                :props="props"
              >
                {{ (Math.round(props.row.unitPrice * 100) / 100).toFixed(2) }}
              </q-td>
              <q-td
                key="quantity"
                :props="props"
              >
                <q-input
                  type="number"
                  :loading="status"
                  :disable="status"
                  outlined
                  dense
                  style="width: 150px"
                  :value="props.row.quantity"
                  suffix="Unid."
                  @input="val => { onInput(props.row.sale.id, val) }"
                />
              </q-td>
              <q-td
                key="subtotal"
                :props="props"
              >
                {{ (Math.round(props.row.subtotal * 100) / 100).toFixed(2) }} S/.
              </q-td>
              <q-td
                key="location"
                :props="props"
              >
                <q-btn
                  round
                  :color="props.row.location.latitud === '0' ? 'red-6': 'positive'"
                  icon="location_on"
                  @click="onMap(props.row.sale)"
                />
              </q-td>
              <q-td
                key="actions"
                :props="props"
              >
                <q-btn
                  round
                  color="red-6"
                  icon="delete_forever"
                  @click="deletedProd(props.row.sale.id)"
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
      <q-card-section>
        <q-list
          bordered
        >
          <q-item>
            <q-item-section>
              <div class="row">
                <div class="col-12 col-sm-6">
                  IGV
                </div>
                <div class="col-12 col-sm-6 utp-align-right">
                  {{ car.igv }} S/.
                </div>
              </div>
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>
              <q-item-label>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    Comision
                  </div>
                  <div class="col-12 col-sm-6 utp-align-right">
                    {{ car.commission }} S/.
                  </div>
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>
              <q-item-label>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    Total
                  </div>
                  <div class="col-12 col-sm-6 utp-align-right">
                    {{ car.total }} S/.
                  </div>
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
      <q-card-section class="utp-btn">
        <culqi
          :on-disable="numSelect !== 0 ? true : false && status"
          :amount="car.total"
          @on-payment="sendPayment"
        />
      </q-card-section>
    </q-card>
    <sale-map-preview
      :sale="map.sale"
      :on-drawer="true"
      :on-geolocate="true"
      :on-dialog.sync="map.alertMap"
      @ongeolocatecar="onGeolocateSubmit"
    />
  </div>
</template>

<script lang="ts">
import Culqi from 'components/culqi/Culqi.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_CAR } from '../../@core/graphql/querys/client/shopping.car.query'
import L from 'leaflet'
import { ShoppingCarService } from '@core/modules/shopingcar'
import { PaymentService } from '@core/modules/payment'
import { LocateService, Locate } from '@core/modules/locate'
import { notifyUtils } from '@core/modules/utils'
import { ref, reactive } from '@vue/composition-api'

import SaleMapPreview from 'src/components/sale/SaleMapPreview.vue'
import { SALES_STOCK_SUBCRIPTION } from '../../@core/graphql/subscriptions'

const _shoppingCarService = new ShoppingCarService()
const _paymentService = new PaymentService()
const _locateService = new LocateService()

export default {
  components: {
    Culqi,
    SaleMapPreview
  },
  data () {
    return {
      columns: [
        {
          name: 'img',
          required: true,
          label: '',
          align: 'left'
        },
        {
          name: 'name',
          align: 'left',
          label: 'Nombre',
          sortable: true
        },
        { name: 'weigth', label: 'Peso (kg)', sortable: true },
        {
          name: 'price',
          label: 'Precio Unidad (S/.) (c/u)',
          sortable: true
        },
        {
          name: 'quantity',
          align: 'center',
          label: 'Cantidad (u)'
        },
        {
          name: 'subtotal',
          label: 'Subtotal',
          sortable: true
        },
        {
          name: 'location',
          align: 'center',
          label: 'Ubicacion De Entrega'
        },
        {
          name: 'actions',
          label: 'Acciones',
          align: 'center',
          sortable: true
        }
      ]
    }
  },
  setup (_, { root }) {
    const { result, loading, subscribeToMore } = useQuery(CLIENT_CAR)
    const car = useResult(result)

    const status = ref<boolean>(false)

    const numSelect = ref<number>(0)

    const map = reactive({
      sale: {},
      alertMap: false
    })

    function deletedProd (id) {
      try {
        _shoppingCarService.deleteSale(id)
        notifyUtils.success('Producto removido exitosamente!')
      } catch (error) {
        notifyUtils.error('Hubo un error al remover el producto!')
      }
    }

    subscribeToMore(() => ({
      document: SALES_STOCK_SUBCRIPTION,
      updateQuery: (previousResult, { subscriptionData }) => {
        const index = previousResult.shoppingcar.product.findIndex(x => x.sale.id === subscriptionData.data.salesStockSubs.id)
        previousResult.shoppingcar.product[index].sale.stock = subscriptionData.data.salesStockSubs.stock
        if (subscriptionData.data.salesStockSubs.stock === 0 || subscriptionData.data.salesStockSubs.stock === '0') deletedProd(subscriptionData.data.salesStockSubs.id)
      }
    }))

    async function sendPayment (obj) {
      status.value = true
      try {
        await _paymentService.paymentCulqi(obj)
        notifyUtils.success('Pago realizado con exito!')
        root.$router.push({ name: 'Products' })
      } catch (error) {
        notifyUtils.error('Hubo un error al realizar el pago!')
      } finally {
        status.value = false
      }
    }

    function onInput (id, value) {
      try {
        _shoppingCarService.editSale(id, value)
      } catch (error) {
        notifyUtils.error('Hubo un error al realizar el pago!')
      }
    }

    function onMap (sale) {
      map.sale = sale
      map.alertMap = true
    }

    function onGeolocateSubmit (data) {
      const { latlng, sale: { area } } = data
      const { sale } = data
      let polygon
      if (area.name === 'CIRCLE') {
        polygon = L.circle([area.latitud, area.longitud], { radius: area.radio })
      } else {
        polygon = L.circle([area.latitud, area.longitud], { radius: 200 })
      }
      const marker = L.marker([latlng.lat, latlng.lng])
      try {
        _locateService.isMarkerInsidePolygon(marker, polygon)
        numSelect.value -= 1
        const locate: Locate = {
          id: 0,
          latitud: latlng.lat,
          longitud: latlng.lng
        }
        _shoppingCarService.editSaleLocation(sale.id, locate)
        notifyUtils.success('Ubicacion establecida correctamente!')
        map.alertMap = false
      } catch (error) {
        notifyUtils.error('Su ubicacion o el lugar asignado esta fuera de rango!')
      }
    }

    const { product } = car.value
    product.forEach(element => {
      if ((element.location.latitud === '0' && element.location.longitud === '0') || (element.location.latitud === '' && element.location.longitud === '')) {
        numSelect.value += 1
      } else {
        numSelect.value = 0
      }
    })

    return {
      car,
      loading,
      deletedProd,
      sendPayment,
      onInput,
      status,
      map,
      onMap,
      onGeolocateSubmit,
      numSelect
    }
  }
}
</script>

<style scoped>
.utp-btn div{
  text-align: right;
}
.utp-align-right{
  text-align: right;
}
</style>
