<template>
  <div class="q-pa-md">
    <q-card
      flat
      bordered
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Carrito</div>
      </q-card-section>

      <q-card-section class="q-pt-none" />

      <q-separator inset />

      <q-card-section>
        <q-card
          class="my-card"
          flat
          bordered
        >
          <q-card-section horizontal>
            <q-card-section
              avatar
              class="col-1"
            >Imagen</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-4">Nombre</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-1">Peso</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-1">Precio por unidad</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-2">Cantidad</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-1">Subtotal</q-card-section>

            <q-separator vertical />

            <q-card-section />
          </q-card-section>
        </q-card>
      </q-card-section>

      <q-card-section>
        <div v-if="car.igv !== 0">
          <q-card
            v-for="prod in car.product"
            :key="prod.sale.id"
            v-bind="prod.sale"
            class="my-card"
            flat
            bordered
          >
            <q-card-section horizontal>
              <q-card-section
                avatar
                class="col-1"
              >
                <q-avatar>
                  <img
                    :src="prod.sale.product.name === 'Azucar'? '/statics/Images/whitesugar.jpg': '/statics/Images/whiterice.jpg'"
                  >
                </q-avatar>
              </q-card-section>

              <q-separator vertical />

              <q-card-section class="col-4">{{ prod.sale.product.name }}</q-card-section>

              <q-separator vertical />

              <q-card-section class="col-1">55 kg</q-card-section>

              <q-separator vertical />

              <q-card-section class="col-1">{{ prod.unitPrice }}.00 S/.</q-card-section>

              <q-separator vertical />

              <q-card-section class="col-2">
                <q-input
                  type="number"
                  :loading="status"
                  :disable="status"
                  outlined
                  dense
                  style="max-width: 150px"
                  :value="prod.quantity"
                  suffix="Unid."
                  @input="val => { onInput(prod.sale.id, val) }"
                />
              </q-card-section>

              <q-separator vertical />

              <q-card-section class="col-1">{{ prod.subtotal }}.00 S/.</q-card-section>

              <q-separator vertical />

              <q-card-section>
                <q-btn
                  round
                  color="red-6"
                  icon="delete_forever"
                  @click="deletedProd(prod.sale.id)"
                />
                <q-btn
                  round
                  :color="prod.location.latitud === '0' ? 'red-6': 'positive'"
                  icon="location_on"
                  @click="alertMap = true"
                />
                <sale-map-preview
                  :sale="prod.sale"
                  :on-drawer="true"
                  :on-dialog.sync="alertMap"
                />
              </q-card-section>
            </q-card-section>
          </q-card>
        </div>
        <q-card
          v-if="car.igv === 0"
          class="my-card"
        >
          <q-card-section>Sin productos en el carrito...</q-card-section>
        </q-card>
      </q-card-section>

      <q-card-section>
        <q-card
          class="my-card"
          flat
          bordered
        >
          <q-card-section horizontal>
            <q-card-section
              avatar
              class="col-9"
            >IGV</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-1">{{ car.igv }} S/.</q-card-section>
          </q-card-section>

          <q-card-section horizontal>
            <q-card-section
              avatar
              class="col-9"
            >Comision</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-1">{{ car.commission }} S/.</q-card-section>
          </q-card-section>

          <q-card-section horizontal>
            <q-card-section
              avatar
              class="col-9"
            >Total</q-card-section>

            <q-separator vertical />

            <q-card-section class="col-1">{{ car.total }} S/.</q-card-section>
          </q-card-section>
        </q-card>
      </q-card-section>
      <q-card-section>
        <culqi
          :amount="car.total"
          @on-payment="sendPayment"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import Culqi from 'components/culqi/Culqi.vue'
import { useQuery, useResult } from '@vue/apollo-composable'
import { CLIENT_CAR } from '../../@core/graphql/querys/client/shopping.car.query'
import { ShoppingCarService } from '@core/modules/shopingcar'
import { PaymentService } from '@core/modules/payment'
import { notifyUtils } from '@core/modules/utils'
import { ref } from '@vue/composition-api'

import SaleMapPreview from 'src/components/sale/SaleMapPreview.vue'

const _shoppingCarService = new ShoppingCarService()
const _paymentService = new PaymentService()

export default {
  components: {
    Culqi,
    SaleMapPreview
  },
  data () {
    return {
      alertMap: false
    }
  },
  setup () {
    const { result, loading } = useQuery(CLIENT_CAR)
    const car = useResult(result)

    const status = ref<boolean>(false)

    function deletedProd (id) {
      try {
        _shoppingCarService.deleteSale(id)
        notifyUtils.success('Producto removido exitosamente!')
      } catch (error) {
        notifyUtils.error('Hubo un error al remover el producto!')
      }
    }

    async function sendPayment (obj) {
      status.value = true
      try {
        await _paymentService.paymentCulqi(obj)
        notifyUtils.success('Pago realizado con exito!')
      } catch (error) {
        notifyUtils.error('Hubo un error al realizar el pago!')
      } finally {
        status.value = false
      }
    }

    function onInput (id, value) {
      try {
        _shoppingCarService.editSale(id, value)
      } catch (error) {
        notifyUtils.error('Hubo un error al realizar el pago!')
      }
    }

    return {
      car,
      loading,
      deletedProd,
      sendPayment,
      onInput,
      status
    }
  }
}
</script>

<style scoped>
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color: #555;
  margin-top: 4px;
}
</style>
