<template>
  <div>
    <q-avatar
      v-if="person.photo === null"
      color="primary"
      text-color="white"
      :size="sizze"
    >
      {{ person.name.charAt(0).toUpperCase() }}
    </q-avatar>
    <q-avatar
      v-if="person.photo !== null && person.photo.length === 1"
      color="primary"
      text-color="white"
      :size="sizze"
    >
      {{ person.photo }}
    </q-avatar>
    <q-avatar
      v-if="person.photo !== null && person.photo.length > 2"
      :size="sizze"
    >
      <img :src="'https://api.yarems.net/person/avatar/' + person.photo">
    </q-avatar>
  </div>
</template>

<script>
export default {
  props: {
    person: {
      type: Object, default: () => ({})
    },
    sizze: {
      type: String, default: '30px'
    }
  }
}
</script>

<style scoped>

</style>
