<template>
  <div>
    <q-table
      :data="ndata"
      :columns="columns"
      row-key="name"
      :filter="filter"
      :pagination="initialPagination"
      card-class="utp-card-table"
      :hide-bottom="hideBottom"
      @row-click="rowClick"
    >
      <template v-slot:top-right>
        <q-input
          v-model="filter"
          borderless
          dense
          debounce="600"
          placeholder="Buscar"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <!-- <template
        v-if="onColor"
        v-slot:body="props"
      >
        <q-tr
          :props="props"
          :class="props.row.classcolor === true? 'color-file-table': ''"
        >
          <q-td
            key="name"
            :props="props"
          >
            # {{ props.row.id }}
          </q-td>
          <q-td
            key="product"
            :props="props"
          >
            {{ props.row.product.name }}
          </q-td>
          <q-td
            key="stock"
            :props="props"
          >
            {{ props.row.stock }}
          </q-td>
          <q-td
            key="price"
            :props="props"
          >
            {{ props.row.unitPrice }}
          </q-td>
          <q-td
            key="status"
            :props="props"
          >
            {{ props.row.status }}
          </q-td>
        </q-tr>
      </template> -->
    </q-table>
  </div>
</template>

<script>
export default {
  props: {
    ndata: {
      type: Array, required: true
    },
    columns: {
      type: Array, required: true
    },
    hideBottom: {
      type: Boolean, default: false
    },
    onColor: {
      type: Boolean, default: false
    }
  },
  data () {
    return {
      initialPagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 10
      },
      filter: '',
      selected: []
    }
  },
  methods: {
    rowClick (evt, row) {
      this.$emit('row-click', row)
    }
  }
}
</script>

<style lang="sass" scoped>
.grid-style-transition
  transition: transform .28s, background-color .28s
</style>
<style scoped>
.q-table__grid-item {
  width: 100% !important;
}
.color-file-table{
  background: #00b84e;
}
</style>
