<template>
  <div class="row justify-center flex-center utp-margin-top-3 utp-margin-bottom-3">
    <q-card class="utp-width-8">
      <q-card-section>
        <q-form
          class="q-gutter-md"
          @submit="onSubmitSignUp"
        >
          <div class="text-h6 text-center q-py-none">Registrarte</div>

          <q-separator />

          <q-input
            v-model="register.username"
            outlined
            label="Username"
            lazy-rules
            :rules="[
              val => (val && val.length > 0) || 'Porfavor ingrese un username'
            ]"
          />

          <q-input
            v-model="register.password"
            :rules="[
              val =>
                !!val || $t('field.errors.required', { name: $t('password') })
            ]"
            :label="$t('password')"
            :disable="loading"
            type="password"
            autocomplete="off"
            outlined
          />

          <q-input
            v-model="register.passwordConfirmation"
            :rules="[
              val =>
                !!val || $t('field.errors.required', { name: $t('password') })
            ]"
            label="Confirmar Contraseña"
            :disable="loading"
            type="password"
            autocomplete="off"
            outlined
          />

          <q-input
            v-model="register.documentNumber"
            outlined
            label="Número De Documento"
            lazy-rules
            :rules="[
              val =>
                (val && val.length > 0) ||
                'Porfavor ingrese un número de documento'
            ]"
          />

          <q-input
            v-model="register.name"
            outlined
            label="Nombres"
            lazy-rules
            :rules="[
              val => (val && val.length > 0) || 'Porfavor ingrese sus nombres'
            ]"
          />

          <q-input
            v-model="register.lastnameOne"
            outlined
            label="Primer Apellido"
            lazy-rules
            :rules="[
              val =>
                (val && val.length > 0) || 'Porfavor ingrese su primer apellido'
            ]"
          />

          <q-input
            v-model="register.lastnameTwo"
            outlined
            label="Segundo Apellido"
            lazy-rules
            :rules="[
              val =>
                (val && val.length > 0) ||
                'Porfavor ingrese su segundo apellido'
            ]"
          />

          <div class="q-pa-md utp-rad">
            <q-radio
              v-model="register.gender"
              dense
              size="md"
              val="MASCULINO"
              label="Masculino"
            />
            <q-radio
              v-model="register.gender"
              dense
              size="md"
              val="FEMENINO"
              label="Femenino"
            />
            <q-radio
              v-model="register.gender"
              dense
              size="md"
              val="OTRO"
              label="Otro"
            />
          </div>

          <q-input
            v-model="register.phone"
            outlined
            type="number"
            label="Telefono"
            lazy-rules
          />

          <q-input
            v-model="register.mobile"
            outlined
            type="number"
            label="Celular"
            lazy-rules
            :rules="[
              val =>
                (val !== null && val !== '') ||
                'Porfavor ingrese un número de celular',
              val =>
                (val > 0 && val < 1000000000) ||
                'Porfavor ingrese un número valido'
            ]"
          />

          <q-input
            v-model="register.email"
            outlined
            label="Correo Personal"
            lazy-rules
            :rules="[
              val =>
                (val && val.length > 0) || 'Porfavor ingrese un correo personal',
              val => /\S+@\S+\.\S+/.test(val) || $t('field.errors.email')
            ]"
          />

          <div class="row">
            <div class="col">
              <q-select
                v-model="utils.region"
                outlined
                map-options
                emit-value
                option-value="id"
                option-label="name"
                :options="utils.regions"
                label="Region"
                @input="getProvincesRegion"
              />
            </div>
            <div class="col">
              <q-select
                v-model="utils.province"
                outlined
                map-options
                emit-value
                option-value="id"
                option-label="name"
                :options="utils.provinces"
                label="Provincia"
                @input="getDistrictsProvince"
              />
            </div>
            <div class="col">
              <q-select
                v-model="register.district"
                outlined
                map-options
                emit-value
                option-value="id"
                option-label="name"
                :options="utils.districts"
                label="Distrito"
              />
            </div>
          </div>

          <q-input
            v-model="register.address"
            outlined
            label="Direccion de vivienda"
            lazy-rules
            :rules="[
              val => (val && val.length > 0) || 'Porfavor ingrese una direccion'
            ]"
          />

          <q-input
            v-model="register.birthdate"
            outlined
            mask="date"
            :rules="['date']"
          >
            <template v-slot:append>
              <q-icon
                name="event"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="register.birthdate"
                    mask="YYYY-MM-DD"
                    @input="() => $refs.qDateProxy.hide()"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>

          <div>
            <q-btn
              label="Registrarse"
              class="full-width"
              type="submit"
              color="primary"
            />
          </div>
          <div>
            <q-btn
              label="Iniciar Sesion"
              :to="{name: 'SignIn'}"
              type="reset"
              color="primary"
              class="full-width"
              flat
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted
} from '@vue/composition-api'
import { AuthService, Register } from '@core/modules/auth'
import { UbigeoService } from '@core/modules/general'
import { notifyUtils } from '@core/modules/utils'

/** Instancias */
const _authService = new AuthService()
const _ubigeoService = new UbigeoService()

export default defineComponent({
  name: 'SignUpForm',
  setup (_, { root }) {
    const register = ref<Register>({
      username: '',
      password: '',
      passwordConfirmation: '',
      documentNumber: '',
      name: '',
      lastnameOne: '',
      lastnameTwo: '',
      gender: 'MASCULINO',
      phone: '',
      mobile: '',
      email: '',
      district: '',
      address: '',
      birthdate: '2019-02-01',
      response: ''
    })

    const utils = {
      region: '',
      regions: [],
      province: '',
      provinces: [],
      districts: [],
      area: '',
      areas: [],
      places: [],
      maritalOptions: [
        {
          id: 'SOLTERO',
          name: 'Soltero(a)'
        },
        {
          id: 'CASADO',
          name: 'Casado(a)'
        },
        {
          id: 'VIUDO',
          name: 'Viudo(a)'
        },
        {
          id: 'DIVORCIADO',
          name: 'Divorciado(a)'
        }
      ]
    }

    const loading = ref<boolean>(false)

    async function getRegions () {
      try {
        loading.value = true
        const { allRegions } = await _ubigeoService.getRegions()
        utils.regions = allRegions
      } catch (error) {
      } finally {
        loading.value = false
      }
    }

    async function getProvincesRegion () {
      try {
        loading.value = true
        const { allProvincesRegion } = await _ubigeoService.getProvincesRegion(
          utils.region
        )
        utils.provinces = allProvincesRegion
      } catch (error) {
      } finally {
        loading.value = false
      }
    }

    async function getDistrictsProvince () {
      try {
        loading.value = true
        const {
          allDistritsProvince
        } = await _ubigeoService.getDistrictsProvince(utils.province)
        utils.districts = allDistritsProvince
      } catch (error) {
      } finally {
        loading.value = false
      }
    }

    async function onSubmitSignUp () {
      try {
        loading.value = true

        // (optional) Wait until recaptcha has been loaded.
        await root.$recaptchaLoaded()

        // Execute reCAPTCHA with action "login".
        const token = await root.$recaptcha('register')

        await _authService.signUp({ ...register.value, response: token })

        try {
          await _authService.sendEmail(register.value.email)
          notifyUtils.success('Se envio un email para su confirmacion!')
        } catch (error) {
          notifyUtils.error('Ocurrio un error al enviar email para su confirmacion!')
        }

        root.$router.push({ name: 'Validation' })
      } catch (error) {
        notifyUtils.error('auth.errors.credentials')
      } finally {
        loading.value = false
      }
    }

    onMounted(() => {
      getRegions()
    })

    return {
      utils,
      register,
      onSubmitSignUp,
      getProvincesRegion,
      getDistrictsProvince,
      loading
    }
  }
})
</script>

<style scoped>
.utp-rad .q-radio {
  margin-right: 100px;
}
</style>
