
<template>
  <q-card>
    <q-card-section>
      <q-form
        class="q-gutter-y-md"
        @submit="onSubmitSignIn"
      >
        <div class="text-h6 text-center q-py-none">{{ $t('signIn') }}</div>

        <q-separator />

        <q-input
          v-model="credentials.username"
          :rules="[
            val => !!val || $t('field.errors.required', { name: $t('user') }),

          ]"
          :label="$t('user')"
          :disable="loading"
          autocomplete="off"
          outlined
          lazy-rules
        >
          <template v-slot:append>
            <q-icon name="person" />
          </template>
        </q-input>
        <q-input
          v-model="credentials.password"
          :rules="[val => !!val || $t('field.errors.required', { name: $t('password') })]"
          :label="$t('password')"
          :disable="loading"
          type="password"
          autocomplete="off"
          outlined
        >
          <template v-slot:append>
            <q-icon name="lock" />
          </template>
        </q-input>
        <div>
          <q-btn
            :loading="loading"
            type="submit"
            class="full-width"
            color="primary"
          >{{ $t('join') }}</q-btn>
          <q-btn
            flat
            color="primary"
            label="Registrarse"
            class="full-width utp-margin-top-1"
            :to="{ name: 'SignUp' }"
          />
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { Credentials, AuthService } from '@core/modules/auth'

import { notifyUtils } from '@core/modules/utils'

const _authService = new AuthService()

export default defineComponent({
  name: 'SignInForm',
  setup (_, { root }) {
    const credentials = ref<Credentials>({
      username: '',
      password: ''
    })
    const loading = ref<boolean>(false)
    async function onSubmitSignIn () {
      try {
        loading.value = true

        // (optional) Wait until recaptcha has been loaded.
        await root.$recaptchaLoaded()

        // Execute reCAPTCHA with action "login".
        const token = await root.$recaptcha('login')

        credentials.value.response = token

        await _authService.signIn(credentials.value)
        root.$router.push({ name: 'Products' })
      } catch (error) {
        notifyUtils.error('auth.errors.credentials')
      } finally {
        loading.value = false
      }
    }
    return {
      credentials,
      onSubmitSignIn,
      loading
    }
  }
})

// val => /\S+@\S+\.\S+/.test(val) || $t('field.errors.email')
</script>
