<template>
  <div>
    <q-card
      class="my-card"
    >
      <q-card-section>
        <div class="text-h6">Validacion</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        Revisa tu email en busca de un mensaje de YAREMS y has click en el enlace para completar la configuracion de tu cuenta.  <br>
        <div>
          <q-spinner-pie
            color="primary"
            size="2em"
          />
          <q-tooltip :offset="[0, 8]">QSpinnerPie</q-tooltip>
        </div> <br>
        <q-btn
          flat
          rounded
          color="primary"
          label="No me ha llegado el mensaje"
          @click="onForm = true"
        />
      </q-card-section>

      <q-card-section v-if="onForm">
        <q-form
          class="q-gutter-md"
          @submit="onSubmit"
        >
          <q-input
            v-model="email"
            type="email"
            suffix="@example.com"
            outlined
            label="Email *"
            hint="Ingrese su email"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Porfavor ingrese un email']"
          />

          <div>
            <q-btn
              :disable="disable"
              :loading="disable"
              type="submit"
              color="primary"
              icon="camera_rear"
              class="full-width"
            >
              Enviar
              <template v-slot:loading>
                <q-spinner-radio class="on-left" />
                Cargando ...
              </template>
            </q-btn>
            <br><br>
            <q-btn
              outline
              color="primary"
              class="full-width"
              label="Iniciar Session"
              :to="{ name: 'SignIn' }"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { ref } from '@vue/composition-api'
import { AuthService } from '@/@core/modules/auth'
import { notifyUtils } from '@/@core/modules/utils'

const _authService = new AuthService()

export default {
  setup () {
    const onForm = ref(false)
    const email = ref('')
    const disable = ref(false)

    async function onSubmit () {
      disable.value = true
      try {
        await _authService.sendEmail(email.value)
        notifyUtils.success('Se ha enviado con exito!')
      } catch (error) {
        notifyUtils.error('Error al enviar email!')
      } finally {
        setTimeout(function () {
          disable.value = false
        }, 900000)
      }
    }

    return {
      onSubmit,
      onForm,
      email,
      disable
    }
  }
}
</script>

<style scoped>
.my-card{
    text-align: center;
}
</style>
